@media (min-width: 1200px) and (max-width: 1919px) {
    .form-agreement > div svg,
    .form-agreement > div input {
        position: absolute;
        top: 0.04vw;
        left: 1.42vw;
        margin: 0;
        border-width: 0.1vw;
        max-width: 0.75vw;
        max-height: 0.75vw;
        min-width: unset;
        min-height: unset;
        width: 0.75vw !important;
    }

    div#forms-of-ownerships-guide .form-container .form-section .form-inputs .form-agreement > div svg,
    div#areas-and-beaches-guide .form-container .form-section .form-inputs .form-agreement > div svg,
    div#phuket-future-guide .form-container .form-section .form-inputs .form-agreement > div svg,
    div#forms-of-ownerships-guide .form-container .form-section .form-inputs .form-agreement > div input,
    div#areas-and-beaches-guide .form-container .form-section .form-inputs .form-agreement > div input,
    div#phuket-future-guide .form-container .form-section .form-inputs .form-agreement > div input {
        left: 0.25vw;
    }

    .form-agreement > div svg {
        position: absolute;
        width: 0.67vw;
        height: 0.67vw;
        transform: unset;
        top: 0.04vw !important;
        left: 0.25vw !important;
    }

    div#choose-property .form-agreement > div svg,
    div#personal-consultation .form-agreement > div svg {
        left: 0 !important;
    }

    div#special-offer-form .form-agreement > div svg {
        left: 1.47vw !important;
    }

    .form-agreement .first-line {
        line-height: 120%;
        margin: 0;
        width: 100%;
    }

    div.faq-form .form-container .form-section .form-inputs .form-agreement span {
        height: 1.66vw;
    }
    div#forms-of-ownerships-guide .form-agreement .first-line br,
    div#areas-and-beaches-guide .form-agreement .first-line br,
    div#phuket-future-guide .form-agreement .first-line br {
        display: none;
        width: unset;
    }

    div#personal-consultation .form-container .form-section .form-inputs .form-agreement,
    div#choose-property .form-container .form-section .form-inputs .form-agreement {
        margin-top: 0.4167vw;
    }

    div#personal-consultation .form-container .form-section .form-inputs .form-agreement > div input,
    div#choose-property .form-container .form-section .form-inputs .form-agreement > div input {
        position: unset;
    }

    .form-agreement > div {
        left: 0;
        width: 13.42vw;
    }

    div#forms-of-ownerships-guide .form-container .form-section .form-inputs .form-agreement > div,
    div#areas-and-beaches-guide .form-container .form-section .form-inputs .form-agreement > div,
    div#phuket-future-guide .form-container .form-section .form-inputs .form-agreement > div {
        width: 100%;
    }

    #personal-consultation .form-agreement > div,
    #choose-property .form-agreement > div {
        width: unset;
        height: 0.8333vw;
        display: flex;
        align-items: start !important;
    }

    #personal-consultation .form-agreement .first-line br,
    #choose-property .form-agreement .first-line br {
        display: none;
        width: unset;
    }

    #faq-form .form-agreement > div,
    section#check-objects .form-agreement > div,
    section#prices-and-benefits .form-agreement > div,
    section#investments-base .form-agreement > div {
        position: relative;
    }

    #faq-form .form-agreement > div svg,
    section#check-objects .form-agreement > div svg,
    section#prices-and-benefits .form-agreement > div svg,
    section#investments-base .form-agreement > div svg {
        top: 0.04vw !important;
        left: 1.42vw !important;
    }
    #prices-and-benefits .header-section,
    section#check-objects {
        height: 38.5vw;
        box-sizing: border-box;
    }

    #get-properties {
        height: 11.92vw;
    }

    section#prices-and-benefits .quiz-progress {
        margin-bottom: 0.83vw;
    }

    section#check-objects .quiz-question p.green-question {
        margin-top: 0.83vw;
    }

    #get-properties .form-agreement {
        height: 1.67vw;
    }

    section#prices-and-benefits .quiz-options,
    section#check-objects .quiz-options {
        gap: 1.67vw;
    }

    #prices-and-benefits .next-button,
    #prices-and-benefits .prev-button,
    #check-objects .next-button,
    #check-objects .prev-button {
        font-size: 0.75vw;
    }
}
