@media (min-width: 1200px) and (max-width: 1919px) {
    .form-agreement > div svg,
    .form-agreement > div input {
        position: absolute;
        top: 0.04vw;
        left: 1.42vw;
        margin: 0;
        border-width: 0.1vw;
        max-width: 0.75vw;
        max-height: 0.75vw;
        min-width: unset;
        min-height: unset;
        width: 0.75vw !important;
    }

    div#forms-of-ownerships-guide .form-container .form-section .form-inputs .form-agreement > div svg,
    div#areas-and-beaches-guide .form-container .form-section .form-inputs .form-agreement > div svg,
    div#phuket-future-guide .form-container .form-section .form-inputs .form-agreement > div svg,
    div#forms-of-ownerships-guide .form-container .form-section .form-inputs .form-agreement > div input,
    div#areas-and-beaches-guide .form-container .form-section .form-inputs .form-agreement > div input,
    div#phuket-future-guide .form-container .form-section .form-inputs .form-agreement > div input {
        left: 3px;
    }

    .form-agreement > div svg {
        position: absolute;
        width: 0.67vw;
        height: 0.67vw;
        transform: unset;
        top: 0.04vw !important;
        left: 3px !important;
    }

    div#choose-property .form-agreement > div svg,
    div#personal-consultation .form-agreement > div svg {
        left: 0 !important;
    }
    
    div#phuket-future-guide .form-agreement > div svg,
    div#special-offer-form .form-agreement > div svg {
        left: 1.47vw !important;
    }

    .form-agreement .first-line {
        line-height: 120%;
        margin: 0;
        width: 100%;
    }

    div#forms-of-ownerships-guide .form-agreement .first-line br,
    div#areas-and-beaches-guide .form-agreement .first-line br,
    div#phuket-future-guide .form-agreement .first-line br {
        display: none;
        width: unset;
    }

    div#personal-consultation .form-container .form-section .form-inputs .form-agreement,
    div#choose-property .form-container .form-section .form-inputs .form-agreement {
        margin-top: 5px;
    }

    div#personal-consultation .form-container .form-section .form-inputs .form-agreement > div input,
    div#choose-property .form-container .form-section .form-inputs .form-agreement > div input {
        position: unset;
    }

    .form-agreement > div {
        left: 0;
        width: 13.42vw;
    }

    div#forms-of-ownerships-guide .form-container .form-section .form-inputs .form-agreement > div,
    div#areas-and-beaches-guide .form-container .form-section .form-inputs .form-agreement > div,
    div#phuket-future-guide .form-container .form-section .form-inputs .form-agreement > div {
        width: 100%;
    }

    #personal-consultation .form-agreement > div,
    #choose-property .form-agreement > div {
        width: unset;
        height: 10px;
        display: flex;
        align-items: start !important;
    }

    #personal-consultation .form-agreement .first-line br,
    #choose-property .form-agreement .first-line br {
        display: none;
        width: unset;
    }
}
