@media (min-width: 768px) and (max-width: 1199px) {
    .pr15 {
        padding-right: 1.9531vw !important;
    }
    #line-around-sections-right {
        left: 5.0781vw;
    }

    #line-start-30 {
        left: 48.0469vw;
    }

    #line-start-640 {
        right: 5.0781vw;
    }

    #line-end-208 {
        display: none;
    }

    section#main-page {
        height: auto;
    }

    section#main-page > header {
        height: 9.8958vw;
        padding: 2.6042vw;
        padding-bottom: 0;
    }

    .main-nav a {
        font-size: 1.3021vw;
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .main-nav a.highlight {
        border-radius: 1.3021vw;
    }

    section#main-page #logo {
        width: 15.4948vw;
        height: 7.8125vw;
        box-sizing: border-box;
    }

    section#main-page #logo img {
        width: 11.7188vw;
        margin-top: 1.2617vw;
    }

    .main-nav > ul > div > li:last-of-type {
        display: none;
    }

    section#main-page .right-line {
        width: 15.4948vw;
        height: 3.6458vw;
    }

    .main-nav {
        width: 73.5677vw;
    }

    .menu {
        padding-left: 0;
        width: 5.7292vw;
    }

    .main-nav > ul > li {
        padding-left: 4.0365vw;
        padding-right: 14.974vw;
    }

    .main-nav > ul > div:nth-of-type(2) > li:first-of-type {
        display: none;
    }

    .main-nav > ul > div:first-of-type {
        gap: 3.9063vw;
        padding-right: 5.2083vw;
    }

    .main-nav > ul > div:nth-of-type(2) {
        width: 7.2917vw;
        height: 7.2917vw;
        padding-right: 5.2083vw;
    }

    .main-nav > ul > div:nth-of-type(2) li.highlight {
        width: 100%;
        height: 100%;
    }
    
    .main-nav > ul > div.language-selector {
        width: 6.1198vw;
        height: 3.5156vw;
    }

    .selected-lang {width: 100%;height: 100%;border-radius: 1.8229vw;padding: 0.3906vw;}

    .language-selector img {width: 2.7344vw;height: 2.7344vw;}

    .lang-option {padding-left: 0.3906vw;font-size: 1.0417vw;}

    .box {
        width: 5.7292vw;
        height: 2.474vw;
    }

    .lang-dropdown {
        padding-top: 4.0365vw;
        height: 14.0625vw;
        gap: 0.651vw;
        border-radius: 1.8229vw;
        width: 6.1198vw;
        border: 1px solid #575757;
    }

    section#main-page > div.flex {
        display: flex;
        flex-direction: column;
        padding: 5.0781vw;
        padding-top: 9.8958vw;
        box-sizing: border-box;
    }

    div#special-offer-slider,
    div#text {
        padding: 0;
    }

    div#special-offer-slider {
        margin-top: 2.6042vw;
    }

    div#greetings .yellow-link {
        margin-left: 0;
        margin-top: 3.9063vw;
        height: 4.1667vw;
        line-height: 4.1667vw;
        font-size: 1.5625vw;
        padding: 0 2.6042vw;
    }

    div#greetings {
        justify-content: unset;
        padding-top: 14.3229vw;
        padding-bottom: 9.1146vw;
    }

    div#text > span {
        font-size: 6.7708vw;
        line-height: 100%;
    }

    div#location_tag {
        font-size: 1.8229vw;
        margin-bottom: 2.6042vw;
    }

    div#location_tag svg {
        height: 1.6927vw;
        width: auto;
        margin-right: 0.4336vw;
    }

    div#special-offer-slider > p {
        font-size: 1.8229vw;
        margin-bottom: 1.0417vw;
        line-height: 130%;
    }

    div#special-offer-slider div.stats .rent-stats {
        width: 19.6615vw;
        height: 10.2865vw;
        background-image: url("images/rent-stats-bg-768.png");
        box-sizing: border-box;
        padding: 1.9531vw;
        margin-right: 1.3021vw;
    }

    div#special-offer-slider div.stats .sale-stats {
        width: 22.0052vw;
        height: 10.2865vw;
        background-image: url("images/sale-stats-bg-768.png");
        box-sizing: border-box;
        padding: 1.9531vw;
        margin-right: 0;
    }

    div#special-offer-slider div.stats .digits-description {
        font-size: 1.8229vw;
        top: unset;
        position: relative;
    }

    div#special-offer-slider div.stats .digits {
        font-size: 4.9479vw;
        top: 0;
    }

    div#special-offer-slider > span {
        font-size: 1.8229vw;
        margin-top: 0.651vw;
        display: block;
    }

    div#special-offer-slider > span:before {
        content: '';
        background: url("images/passport-only-mark.svg");
        width: 1.4323vw;
        height: 1.4323vw;
        background-size: contain;
        background-repeat: no-repeat;
    }

    div#greetings .yellow-link svg {
        width: 1.9531vw;
        margin-left: 1.3021vw;
    }

    span#for-life::before {
        background-image: url(images/for_life_before-768.png);
        margin-right: 1.9531vw;
        width: 22.3958vw;
        height: 4.5573vw;
        background-size: cover;
    }

    .offers {
        position: static;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2.6042vw;
        height: 49.4792vw;
        padding: 3.9063vw;
        padding-top: 3.6458vw;
        margin-bottom: 0;
    }

    .offers-header {
        margin-bottom: 1.9531vw;
        justify-content: space-between;
    }

    .offers-header h2 {
        font-size: 1.8229vw;
    }

    .offers-header .header-text {
        width: 39.0625vw;
    }

    .offers-header .header-text .line {
        margin: 0;
        width: 10.9375vw;
        max-width: 10.9375vw;
    }

    .offers-count .current-number {
        font-size: 2.3438vw;
    }

    .offers-count .total-number {
        font-size: 1.8229vw;
    }

    .offers-nav button {
        width: 7.1615vw;
        height: 2.6042vw;
    }

    .offer {
        width: 50.7813vw;
        height: 37.1094vw;
        filter: grayscale(1);
        opacity: 0.7;
    }

    .offer:first-of-type {
        filter: unset;
        opacity: 1;
    }

    .offers-content {
        display: inline-flex;
    }

    .offer-label {
        font-size: 1.8229vw;
        padding: 0 1.3021vw;
        line-height: 2.7344vw;
        height: 2.7344vw;
    }

    section#attractive-direction {
        padding-top: 13.0208vw;
    }

    section#attractive-direction p.main-thought {
        font-size: 4.6875vw;
        padding-left: 0.2604vw;
        max-width: 54.2969vw;
    }

    section#attractive-direction .wrapper1920 {
        padding: 0 5.0781vw;
    }

    section#attractive-direction .fact-container,
    section#attractive-direction .fact-container.current {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60.6719vw;
        gap: 2.6042vw;
    }

    .facts-wrapper {
        height: 71.224vw;
    }

    section#attractive-direction .fact-container .fact-left-part {
        width: 100%;
        max-width: unset;
    }

    section#attractive-direction .fact-container .fact-right-part {
        width: 100%;
        height: 29.8177vw;
    }

    section#attractive-direction .fact-container .fact-left-part .fact-text {
        width: 42.9688vw;
        height: 27.0833vw;
        border-radius: 1.9531vw;
        gap: 0.5208vw;
    }

    section#attractive-direction .fact-container .fact-left-part {
        background-image: url("images/fact-1-bg-768.png");
        height: 38.6719vw;
        min-height: 38.6719vw;
        top: 0;
        border-radius: 1.9531vw;
    }

    section#attractive-direction .fact-container .fact-right-part img {
        max-width: unset;
    }

    section#attractive-direction .fact-container .fact-left-part.second {
        background-image: url("images/fact-2-bg-768.png");
    }

    section#attractive-direction .fact-container .fact-left-part.third {
        background-image: url("images/fact-3-bg-768.png");
    }

    p.main-thought span.desktop-badge:before {
        display: none;
    }

    p.main-thought span.mobile-badge:before {
        display: inline-block;
        width: 12.2396vw;
        height: 3.2552vw;
        background: url(images/why-investments-attract-badge-768.png);
        background-size: contain;
        margin-right: 1.9531vw;
    }

    section#attractive-direction .fact-container .fact-left-part .fact-text .fact-badge {
        top: 2.6042vw;
        left: 2.6042vw;
        font-size: 1.5625vw;
        width: 9.5052vw;
        height: 2.6042vw;
        line-height: 2.6042vw;
    }

    section#attractive-direction .fact-container .fact-left-part .fact-text p {
        font-size: 2.3438vw;
        margin-left: 2.6042vw;
        line-height: 100%;
    }

    section#attractive-direction .fact-container .fact-left-part .fact-text .info-badge {
        font-size: 1.8229vw;
        margin-left: 2.6042vw;
    }

    section#attractive-direction .fact-container .fact-left-part .fact-text .info-badge::before {
        content: unset;
    }

    section#attractive-direction .fact-container .fact-left-part .fact-text .info-badge svg {
        width: 1.1719vw;
        height: 1.1719vw;
        margin-right: 0.2604vw;
    }

    section#attractive-direction .fact-container .fact-left-part .fact-text p.yellow {
        max-width: 22.6563vw;
    }

    section#attractive-direction .fact-container .fact-left-part .fact-text .info-badge:last-of-type {
        margin-bottom: 2.6042vw;
    }

    section#attractive-direction .fact-container .fact-left-part .fact-footer span.fact-button {
        height: 4.1667vw;
        line-height: 4.1667vw;
        font-size: 1.5625vw;
        padding: 0 2.6042vw;
        max-width: unset;
        max-height: unset;
        margin-bottom: 2.6042vw;
        margin-right: 2.6042vw;
    }

    section#attractive-direction .fact-container .fact-left-part .fact-footer {
        bottom: 0;
    }

    section#attractive-direction .fact-container .fact-left-part .fact-footer p {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 600;
        font-size: 1.9531vw;
        line-height: 120%;
        margin: 0;
        margin-bottom: 0;
        margin-left: 2.6042vw;
        height: 8.9844vw;
        display: inline-flex;
        align-items: center;
    }

    section#attractive-direction .last-fact-container {
        height: 40.4948vw;
        border-radius: 1.9531vw;
        margin-top: 10.4167vw;
        background-image: url("images/last-fact-bg-768.svg");
        background-size: 101%;
        padding: 2.6042vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: 0;
        position: relative;
    }

    section#attractive-direction .last-fact-container .fact-right-part svg,
    section#attractive-direction .last-fact-container > svg {
        display: none;
    }

    section#attractive-direction .last-fact-container .fact-left-part .big-fact-item .number {
        font-size: 1.5625vw;
    }

    section#attractive-direction .last-fact-container .fact-left-part .big-fact-item {
        gap: 2.7344vw;
        padding: 0;
        max-width: 33.2031vw;
        height: auto;
    }

    section#attractive-direction .last-fact-container .fact-left-part .big-fact-item p {
        font-size: 2.3438vw;
    }

    section#attractive-direction .last-fact-container .fact-items p,
    section#attractive-direction .last-fact-container .fact-left-part .big-fact-item .fact-item,
    section#attractive-direction .last-fact-container .fact-right-part p {
        font-size: 1.9531vw;
    }

    section#attractive-direction .last-fact-container .fact-items span {
        font-size: 1.8229vw;
        max-width: 23.5677vw;
    }

    section#attractive-direction .last-fact-container .fact-items span, section#attractive-direction .last-fact-container .fact-right-part span {
        margin-top: 0.3906vw;
    }

    section#attractive-direction .last-fact-container .fact-right-part span {
        max-width: 33.4635vw;
        font-size: 1.8229vw;
    }

    section#attractive-direction .last-fact-container .fact-left-part {
        flex-direction: column;
        justify-content: space-between;
        width: 33.2031vw;
    }

    section#attractive-direction .last-fact-container .fact-items {
        max-width: unset;
        gap: 3.9063vw;
        height: auto;
        padding: 0;
        margin: 0;
        padding-bottom: 1.8229vw;
    }

    section#attractive-direction .last-fact-container .fact-right-part {
        width: 33.4635vw;
        position: relative;
        left: -0.9115vw;
        justify-content: flex-end;
        padding-bottom: 1.8229vw;
        gap: 3.9063vw;
    }

    section#youtube-video {
        padding: 13.0208vw 5.0781vw;
        position: relative;
        height: auto;
        padding-bottom: 21.0938vw;
        background-size: 50.9115vw 48.0469vw;
        background-position-x: right;
        background-position-y: 9.2448vw;
    }
    
    section#youtube-video .youtube-container {
        flex-direction: column;
        padding: 0;
        max-width: unset;
    }
    
    section#youtube-video .youtube-container .text-container img {
        width: 13.0208vw;
        height: 2.8646vw;
    }
    
    section#youtube-video .youtube-container .image-container {
        width: 100%;
        order: 2;
        border-radius: 5.56vw;
    }
    
    section#youtube-video .youtube-container .text-container {
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        order: 1;
    }
    
    section#youtube-video .youtube-container .text-container a {
        margin-left: 0;
        margin-top: 3.9063vw;
        height: 4.1667vw;
        line-height: 4.1667vw;
        font-size: 1.5625vw;
        padding: 0 2.6042vw;
        position: absolute;
        bottom: 13.0208vw;
        right: 5.0781vw;
        align-self: center;
        display: flex;
        font-style: normal;
        font-weight: 500;
        border-radius: 6.5104vw;
        max-width: unset;
    }
    
    section#youtube-video .youtube-container .text-container a svg {
        align-self: center;
        width: 1.9531vw;
        margin-left: 1.3021vw;
    }
    
    section#youtube-video .youtube-container .text-container p {
        font-style: normal;
        font-weight: 400;
        font-size: 4.6875vw;
        line-height: 100%;
        margin: 3.9063vw 0;
        max-width: 66.7969vw;
    }
    
    section#youtube-video .youtube-container .image-container img {
        width: 100%;
        height: auto;
        border-radius: 5.56vw;
        z-index: 2022;
    }
    
    section#youtube-video .youtube-container .image-container .play-icon {
        width: 18.6432vw;
        height: 18.6432vw;
        top: 50%;
        left: 50%;
        transform: translate(-9.3229vw, -9.3229vw);
        z-index: 2050;
    }

    section#youtube-video .youtube-container .image-container .play-icon svg {
        width: 57px;
        height: 54px;
    }

    section#quote-with-four-men {
        height: 77.9948vw;
    }

    section#quote-with-four-men img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    section#quote-with-four-men div.quote span {
        font-size: 4.6875vw;
    }

    section#quote-with-four-men div.quote .left {
        left: 5.0781vw;
        transform: unset;
    }

    section#quote-with-four-men div.quote .right {
        text-align: left;
        right: 0;
        transform: unset;
        left: 28.6458vw;
    }

    section#quote-with-four-men div.quote .right br {
        display: initial;
    }

    section#quote-with-four-men div.quote-sign {
        transform: unset;
        left: 5.0781vw;
        gap: 1.0417vw;
        padding-bottom: 5.2083vw;
    }

    section#quote-with-four-men div.quote-sign span:first-of-type {
        font-size: 2.3438vw;
    }

    section#quote-with-four-men div.quote-sign span:last-of-type {
        font-size: 1.5625vw;
    }

    section#company-owner {
        padding: 13.0208vw 5.0781vw 6.5104vw 5.0781vw;
    }

    section#company-owner div#picture img {
        width: 100%;
        height: 57.4219vw;
    }

    section#company-owner div#picture {
        width: 42.9688vw;
    }

    #investment-info {
        padding-left: 0;
        margin-left: 3.9063vw;
    }
    
    #investment-info > p {
        margin-top: 1.3021vw;
        margin-bottom: 3.9063vw;
        font-size: 4.6875vw;
    }

    #investment-info .detail-item h3 {
        font-size: 2.3438vw;
    }

    #investment-info .detail-item p {
        font-size: 1.8229vw;
    }

    #investment-info .detail-item.column1 {
        width: 17.3177vw;
        /* order: 1; */
    }

    #investment-info .detail-item:nth-of-type(4) {
        width: 18.8802vw;
        order: 2;
    }

    #investment-info .detail-item.column2-wide {
        order: 5;
        width: 32.0313vw;
    }

    #investment-info .detail-item.column2 {
        width: 18.4896vw;
        order: 4;
    }

    #investment-info .detail-item.column3 {
        width: 17.3177vw;
        order: 3;
    }

    #investment-info .details-grid {
        column-gap: 6.1198vw;
        row-gap: 3.9063vw;
    }

    section#company-owner .quote-sign {
        width: 19.2708vw;
        height: 12.6302vw;
        background-image: url(images/gray-badge-bg-768.png);
        margin: 1.9531vw;
        background-size: cover;
        padding: 1.9531vw;
        font-size: 1.5625vw;
        justify-content: space-between;
    }

    section#company-owner .quote-sign span:first-of-type {
        font-size: 2.3438vw;
    }

    #best-points {
        padding: 5.0781vw;
    }

    #best-points .container {
        padding: 0;
    }

    #best-points .grid {gap: 3.9063vw;}
    
    #best-points .grid-item {
        height: 20.0521vw;
        padding: 2.6042vw;
        border-radius: 1.9531vw;
    }

    #best-points .grid-item.item1 {
        width: 42.9688vw;
        order: 1;
    }
    #best-points .grid-item.item1 p {
        max-width: 29.9479vw;
    }
    #best-points .grid-item.item3 p {
        max-width: 33.3333vw;
    }
    #best-points .grid-item.item4 p {
        max-width: 33.4635vw;
    }
    #best-points .grid-item.item7 p {
        max-width: 27.3438vw;
    }
    #best-points .grid-item.item2 {
        width: 42.9688vw;
        order: 2;
    }
    #best-points .grid-item.item3 {
        width: 42.9688vw;
        order: 3;
    }
    #best-points .grid-item.item4 {
        width: 42.9688vw;
        order: 4;
    }
    #best-points .grid-item.item5 {
        order: 5;
        width: 30.9896vw;
    }
    #best-points .grid-item.item6 {
        order: 7;
        width: 31.25vw;
    }
    #best-points .grid-item.item7 {
        width: 42.9688vw;
        order: 8;
        height: 17.7083vw;
    }
    #best-points .grid-item.item8 {
        width: 42.9688vw;
        order: 9;
        height: 17.7083vw;
    }
    #best-points .grid-item.item9 {
        order: 10;
        width: 100%;
        height: 16.9271vw;
        padding: 2.6042vw;
        padding-top: 2.2135vw;
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    section#best-points .grid .grid-item.img {
        order: 6;
        display: initial;
        width: 19.5313vw;
        background: url(images/four-five-reasons-block-768.png);
        background-size: contain;
    }

    #best-points .container > h2 {
        font-size: 4.6875vw;
    }

    #best-points .container > h2:nth-of-type(2)::before {
        width: 11.4583vw;
        height: 3.2552vw;
        position: relative;
        top: -0.1302vw;
    }

    #best-points .grid-item h3:first-of-type {
        font-size: 1.5625vw;
    }

    #best-points .grid-item h3:nth-of-type(2) {
        font-size: 2.3438vw;
        padding-top: 1.3021vw;
    }

    #best-points .grid-item p {
        font-size: 1.8229vw;
    }

    #best-points .cta button {
        margin-left: 0;
        margin-top: 3.9063vw;
        height: 4.1667vw;
        line-height: 4.1667vw;
        font-size: 1.5625vw;
        padding: 0 2.6042vw;
        box-sizing: border-box;
        width: auto;
        border-radius: 2.0833vw;
    }

    .cta p::before {
        width: 1.8229vw;
        height: 1.8229vw;
        top: -5.7292vw;
        position: absolute;
    }

    #best-points .grid-item.cta p {
        font-size: 2.6042vw;
        margin-bottom: 0;
        width: 31.7708vw;
    }

    section#investments-base {
        height: auto;
        position: relative;
        padding-bottom: 27.78vw;
    }
    
    #investments-base .wrapper1920 {
        padding: 13.0208vw 4.4271vw;
        align-items: center;
    }
    
    section#investments-base img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    
    }
    
    section#investments-base .quote {
        box-sizing: border-box;
        position: relative;
        z-index: 37;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    section#investments-base .quote p.title {
        font-style: normal;
        font-weight: 400;
        font-size: 4.6875vw;
        line-height: 100%;
        margin-top: 0;
        margin-bottom: 1.3021vw;
        text-align: center;
    }
    
    section#investments-base .quote p.description {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 300;
        font-size: 1.8229vw;
        line-height: 130%;
        width: 50.7813vw;
    }

    #get-properties {
        margin: 0;
        margin-top: 6.5104vw;
        height: 60.6771vw;
        width: 63.8021vw;
        position: relative;
        border-radius: 3.9063vw;
        padding: 6.5104vw;
        box-sizing: border-box;
    }
    
    #get-properties .form-text {
        box-sizing: border-box;
        text-align: center;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        padding: 0;
    }
    
    #get-properties .form-text p {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 1.8229vw;
        line-height: 130%;
        margin-bottom: 3.9063vw;
    }

    #get-properties .form-text p br {
        display: none;
    }
    
    #get-properties .form-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.6042vw;
        padding: 0;
    }

    .form-input, .form-select {
        height: 4.1667vw !important;
        width: 42.9688vw;
        font-size: 1.6927vw;
        padding: 0 2.6042vw;
    }

    div#personal-consultation .form-container .form-section .form-inputs .form-select > span, div#choose-property .form-container .form-section .form-inputs .form-select > span, div.faq-form .form-container .form-section .form-inputs .form-select > span, div#forms-of-ownerships-guide .form-container .form-section .form-inputs .form-select > span, div#areas-and-beaches-guide .form-container .form-section .form-inputs .form-select > span, div#phuket-future-guide .form-container .form-section .form-inputs .form-select > span {
        height: 32px;
    }

    #prices-and-benefits .form-input,
    #prices-and-benefits .form-select {
        width: 41.276vw;
        background: #ffffffb3;
    }

    #check-objects .form-input,
    #check-objects .form-select {
        width: 41.276vw;
    }

    #investments-base .form-select, #check-objects .form-select, #prices-and-benefits .form-select {
        font-size: 1.6927vw;
        padding: 0;
        height: 4.1667vw;
        line-height: 4.1667vw;
    }

    #investments-base .form-select > span, #check-objects .form-select > span, #prices-and-benefits .form-select > span {
        height: 4.1667vw;
        line-height: 4.1667vw;
        padding: 0;
        align-items: center;
        width: 41.276vw;
        border-radius: 2.0833vw;
        padding: 0 2.6042vw;
        box-sizing: border-box;
    }

    #investments-base .form-select > span {
        box-sizing: border-box;
    }

    .form-button {
        margin-left: 0;
        margin-top: 1.3021vw;
        height: 4.1667vw;
        line-height: 4.1667vw;
        font-size: 1.5625vw;
        padding: 0 2.6042vw;
        box-sizing: border-box;
        width: auto;
        border-radius: 2.0833vw;
        color: #393939;
    }

    div#special-offer-form .form-container .form-section .form-inputs .form-agreement span,
    div#choose-property .form-container .form-section .form-inputs .form-agreement span {
        height: 22px;
        font-size: 9px;
        line-height: 130%;
        min-width: 151px;
    }

    div.faq-form .form-container .form-section .form-inputs .form-button,
    div#choose-property .form-container .form-section .form-inputs .form-button {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 13px;
        padding: 0 20px;
    }

    #prices-and-benefits .form-button {
        width: 26.8229vw;
        height: 4.1667vw;
    }

    .form-agreement {
        margin-top: 1.3021vw;
        font-size: 1.1719vw !important;
        width: auto;
    }

    div.faq-form .form-container .form-section .form-inputs .form-agreement,
    div#choose-property .form-container .form-section .form-inputs .form-agreement,
    div#choose-property .form-container .form-section .form-inputs .form-agreement > div {
        width: 95px;
    }

    #prices-and-benefits .form-agreement {
        color: #959595;
    }

    .form-actions {
        margin-bottom: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .form-button svg {
        align-self: center;
        width: 1.9531vw;
        margin-left: 1.3021vw;
    }

    #check-objects .header-section,
    #prices-and-benefits .header-section {
        padding: 13.0208vw 5.0781vw 6.5104vw;
    }

    #check-objects .header-content,
    #prices-and-benefits .header-content {
        flex-direction: column;
        align-items: start;
        gap: 1.3021vw;
    }

    #check-objects .header-content h3, #prices-and-benefits .header-content h1 {
        font-size: 4.6875vw;
    }
    
    #check-objects .header-content p,
    #prices-and-benefits .header-content p {
        margin: 0;
        font-size: 1.8229vw;
        width: 45.4427vw;
    }

    #check-objects .quiz-section,
    #prices-and-benefits .quiz-section {
        margin-top: 3.9063vw;
        height: auto;
        padding: 2.6042vw;
        box-sizing: border-box;
        transition: 0.3s ease-in-out;
    }

    #check-objects .quiz-section.last-slide, #prices-and-benefits .quiz-section.last-slide {
        height: unset;
    }

    #check-objects .progress-bar,
    #prices-and-benefits .progress-bar {
        margin-top: 0;
        width: 100%;
    }

    #prices-and-benefits .quiz-progress, #check-objects .quiz-progress {
        align-items: self-start;
        margin-bottom: 1.3021vw;
    }

    #check-objects .quiz-questions-container, #prices-and-benefits .quiz-questions-container {
        height: auto;
    }

    #check-objects .quiz-section .quiz-question,
    #prices-and-benefits .quiz-section .quiz-question {
        position: relative;
        display: none;
    }

    #check-objects .quiz-question.active, #prices-and-benefits .quiz-question.active {
        display: inherit;
    }

    .form-inputs {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 1.9531vw;
    }

    div.faq-form .form-container .form-section .form-inputs,
    div#choose-property .form-container .form-section .form-inputs {
        gap: 20px;
        margin-top: 0;
    }

    #check-objects .quiz-options,
    #prices-and-benefits .quiz-options {
        margin: 0;
        margin-top: 2.0833vw;
        height: auto;
        flex-wrap: wrap;
        padding: 0;
        gap: 1.9531vw;
    }

    #check-objects .quiz-question.active .next-button,
    #check-objects .quiz-question.active .prev-button,
    #prices-and-benefits .quiz-question.active .next-button,
    #prices-and-benefits .quiz-question.active .prev-button {
        padding: 0 2.6042vw;
    }

    #prices-and-benefits .quiz-question .quiz-option,
    #prices-and-benefits .quiz-question .next-button,
    #prices-and-benefits .quiz-question .prev-button,
    #check-objects .quiz-question .quiz-option,
    #check-objects .quiz-question .next-button,
    #check-objects .quiz-question .prev-button {
        height: 4.1667vw;
        font-size: 1.5625vw !important;
    }

    #check-objects .quiz-option div.circle, #prices-and-benefits .quiz-option .circle {
        width: 2.8646vw;
        height: 2.8646vw;
        margin: 0.651vw;
        margin-right: 0;
        box-sizing: border-box;
    }

    #check-objects .quiz-option span,
    #prices-and-benefits .quiz-option span {
        margin-left: 1.3021vw;
        margin-right: 2.6042vw;
        height: 4.1667vw;
        font-size: 1.8229vw;
    }

    #check-objects .quiz-section p,
    #prices-and-benefits .quiz-section p {
        font-size: 1.8229vw;
        margin: 0;
        margin-top: 2.6042vw;
    }

    #check-objects .quiz-progress span,
    #prices-and-benefits .quiz-progress span {
        margin: 0;
        margin-top: 3.9063vw;
        width: 4.9479vw;
        height: 2.2135vw;
        line-height: 2.2135vw;
        font-size: 1.5625vw;
    }
    #check-objects .quiz-question p.green-question,
    #prices-and-benefits .quiz-question p.green-question {
        margin-left: 0;
        font-size: 2.3438vw;
    }

    #prices-and-benefits .content-section .image-content {
        width: 42.9688vw;
        height: 88.2813vw;
        min-width: 42.9688vw;
    }

    #prices-and-benefits .text-content {
    margin-top: 1.3021vw;
    }

    #prices-and-benefits .fact-list {
        margin-top: 5.2083vw;
        gap: 3.9063vw;
        display: flex;
        flex-direction: column;
    }

    #prices-and-benefits .fact-item p.little-title {
        margin-top: 1.3021vw;
        font-size: 4.6875vw;
    }

    #prices-and-benefits .fact-item p.number {
        font-size: 1.5625vw;
        margin-top: 0;
    }

    #prices-and-benefits .fact-item p.little-description {
        font-size: 1.8229vw;
        max-width: unset !important;
        margin-top: 0;
    }

    #prices-and-benefits .fact-item {
        height: auto;
        max-width: unset;
    }

    #prices-and-benefits .text-content h2 {
        font-size: 4.6875vw;
        display: inline;
        margin-right: 0.5208vw;
    }

    #prices-and-benefits .text-content p {
        font-size: 1.8229vw;
        margin-top: 1.3021vw;
    }

    #prices-and-benefits .text-content h2:nth-of-type(2)::before {
        content: '';
        display: none;
    }

    #prices-and-benefits .content-section {
        padding: 13.0208vw 5.0781vw;
        gap: 3.9063vw;
    }

    section#additional-company-info .wrapper1920 {
        padding: 13.0208vw 5.0781vw 6.5104vw;
    }

    section#additional-company-info {
        background-size: 100% 33.3333vw;
        background-position-y: 114.5833vw;
    }

    section#additional-company-info > div > h2 {
        margin: 0;
        margin-bottom: 3.9063vw;
        font-size: 4.6875vw;
    }

    section#additional-company-info div.awards-section {
        display: flex;
        flex-wrap: wrap;
        gap: 5.2083vw 3.9063vw;
        margin-bottom: 13.0208vw;
    }

    section#additional-company-info > div > h3 {
        font-size: 4.1667vw;
        margin-bottom: 5.4688vw;
    }

    section#additional-company-info div.countries-section {
        display: flex;
        flex-wrap: wrap;
        gap: 3.9063vw;
    }

    section#additional-company-info div.country-card.last-with-image {
        display: flex;
        background: url("images/last-country-bg-360.png");
        background-size: cover;
        border-radius: 1.9531vw;
        order: 1;
    }

    section#additional-company-info div.country-card {
        width: 42.9688vw !important;
        box-sizing: border-box;
        height: 17.7083vw;
        padding: 2.6042vw;
        border-radius: 1.9531vw;
    }

    section#additional-company-info div.country-card.last-with-image {
        background: url(images/last-country-bg-768.png);
        background-size: cover;
    }

    section#additional-company-info div.country-card div.header div.agent-flags img {
        width: 2.2135vw;
        height: 2.2135vw;
    }

    section#additional-company-info div.country-card div.header,
    section#additional-company-info div.country-card div.header > h4 {
        font-size: 2.3438vw;
    }

    section#additional-company-info div.country-card .agent-info .agent-details p.agent-name {
        font-size: 2.3438vw;   
    }
    section#additional-company-info div.country-card .agent-info .agent-details {
        margin-left: 1.3021vw;
    }
    section#additional-company-info div.country-card .agent-info .agent-details p.agent-position {
        font-size: 1.8229vw;
    }

    section#additional-company-info div.country-card .agent-info img {
        width: 9.1146vw;
        height: 9.1146vw;
        border-radius: 1.9531vw;
    }

    section#additional-company-info div.country-card:nth-of-type(3) {
        order: 2;
    }

    section#additional-company-info div.award-card {
        width: 42.9688vw;
    }

    section#additional-company-info div.award-card.big {
        height: 45.0521vw;
        width: 100%;
        display: flex;
        position: relative;
        border-radius: 2.6042vw;
        padding: 2.6042vw;
        box-sizing: border-box;
        z-index: 2022;
        background: #222222;
    }

    section#additional-company-info div.award-card p {
        font-size: 2.3438vw;
        margin-top: 1.9531vw;
        margin-bottom: 0;
    }
    section#additional-company-info div.award-card.big p {
        position: absolute;
        top: 2.6042vw;
        right: 4.4271vw;
        font-size: 2.3438vw;
    }
    section#additional-company-info div.conference-logos {
        width: 15.625vw;
        height: 21.0938vw;
        margin-left: 3.776vw;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }
    section#additional-company-info div.award-card.big > picture > img {
        width: 52.0833vw;
        height: 39.8438vw;
        border-radius: 1.9531vw;
    }
    section#additional-company-info div.award-card > img {
        width: 42.9688vw;
        height: 29.5573vw;
    }

    section#tenth-section div.header {
        padding: 13.0208vw 8.9844vw 3.9063vw 5.0781vw;
        position: relative;
    }

    p#main-thought {
        font-size: 4.6875vw;
    }

    p#main-thought span:before {
        background: url(images/sofa-badge-768.png);
        background-size: contain;
        width: 14.3229vw;
        height: 3.2552vw;
    }

    p#main-thought-comment {
        position: absolute;
        width: 44.5313vw;
        font-size: 1.8229vw;
        top: 34.8958vw;
        left: 42.9688vw;
    }

    section#tenth-section div.content {
        height: 66.0156vw;
        width: 100%;
        background-size: cover;
    }

    section#tenth-section div.content .wrapper1920 {
        left: 42.9688vw;
        transform: unset;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 3.9063vw;
        padding-bottom: 6.5104vw;
    }

    section#tenth-section div.content .block-link {
        margin: 0 !important;
        width: 35.1563vw;
        height: 16.6667vw;
        padding: 2.6042vw;
        border-radius: 1.9531vw;
    }
    section#tenth-section div.content .block-link p {
        font-size: 2.3438vw;
        margin-bottom: 2.6042vw;
    }

    section#tenth-section div.content .block-link span {
        height: 4.1667vw;
        line-height: 4.1667vw;
        font-size: 1.5625vw;
        padding: 0 2.6042vw;
    }

    section#tenth-section div.content .block-link span svg {
        align-self: center;
        width: 1.9531vw;
        margin-left: 1.3021vw;
    }

    section#our-partners h3 {
        margin-top: 13.0208vw;
        font-size: 4.6875vw;
    }

    section#our-partners p {
        font-size: 1.8229vw;
        color: #393939;
        margin-top: 1.3021vw;
        margin-bottom: 5.2083vw;
    }

    section#our-partners #partners-carousel {
        margin: 0;
        margin-bottom: 6.5104vw;
        gap: 8.2031vw;
        overflow: hidden;
    }

    section#our-partners {
        padding: 0 5.0781vw;
    }

    section#our-partners #partners-carousel img {
        width: 17.4479vw;
    }

    section#news div.header p {
        font-size: 4.6875vw;
    }

    section#news div.header > span {
        margin-bottom: 1.1719vw;
        height: 4.1667vw;
        line-height: 4.1667vw;
        font-size: 1.5625vw;
        padding: 0 2.6042vw;
    }

    section#news div.header > span svg {
        align-self: center;
        width: 1.9531vw;
        margin-left: 1.3021vw;
    }

    section#news div.header > p > span::before {
        background: url(images/news-title-badge-768.png);
        width: 12.6302vw;
        height: 3.5156vw;
        background-size: contain;
        max-width: unset;
        min-width: unset;
        max-height: unset;
    }

    section#news {
        padding: 13.0208vw 5.0781vw 6.5104vw 5.0781vw;
    }

    section#news div.header {
        margin-bottom: 3.9063vw;
    }

    section#news div#news-list {
        display: flex;
        flex-wrap: wrap;
    }

    section#news div#news-list div.news-block-link:nth-of-type(3),
    section#news div#news-list div.news-block-link:nth-of-type(4) {
        margin-top: 3.9063vw;
        height: 58.4635vw;
    }

    section#news div#news-list div.news-block-link {
        width: 42.9688vw;
        height: 60.8073vw;
        border-radius: 2.6042vw;
    }

    section#news div#news-list div.news-block-link .image-wrapper {
        width: 42.9688vw;
        height: 42.9688vw;
        border-radius: 2.6042vw;
    }

    section#news div#news-list .news-date {
        margin-left: 2.6042vw;
        margin-top: 1.9531vw;
        font-size: 1.3021vw;
    }

    section#news div#news-list .news-title {
        font-size: 2.3438vw;
        margin-top: 1.9531vw;
        margin-left: 2.6042vw;
    }

    section#news div#news-list .news-description {
        font-size: 1.8229vw;
        margin-left: 2.6042vw;
        margin-top: 0.651vw;
    }

    .faq-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 8.4635vw;
        padding: 13.0208vw 5.0781vw;
        row-gap: 6.7708vw;
        justify-content: end;
    }

    .faq-right {
        width: 66.4063vw;
        padding: 0;
    }

    .faq-item {
        width: 100%;
    }

    .faq-left {
        width: 14.974vw;
        height: 14.7135vw;
        padding: 0;
    }

    .faq-header img {
        width: 9.8958vw;
        height: 2.7344vw;
        margin-bottom: 1.3021vw;
    }

    .faq-header h1 {
        font-size: 4.6875vw;
    }

    .faq-header p {
        font-size: 1.8229vw;
        margin-top: 1.3021vw;
        line-height: 130%;
    }

    .faq-question {
        font-size: 1.9531vw;
        padding: 2.6042vw 0;
        height: 1.4323vw;
        line-height: 1.4323vw;
    }

    .faq-answer {
        font-size: 1.8229vw;
        line-height: 130%;
    }

    .faq-answer.current {
        padding-bottom: 2.6042vw;
    }

    .faq-item img {
        width: 1.9531vw;
        height: 1.9531vw;
        top: 2.3438vw;
    }

    .faq-ask-question {
        width: 66.4063vw;
        max-width: unset;
        z-index: 2022;
    }

    .faq-ask-question img {
        width: 100%;
        margin-bottom: 2.6042vw;
    }

    .faq-ask-question h3 {
        font-size: 1.8229vw;
        line-height: 130%;
        width: 27.3438vw;
    }

    .btn-ask,
    .faq-ask-question span {
        margin-top: 1.3021vw;
        height: 4.1667vw;
        line-height: 4.1667vw;
        font-size: 1.5625vw;
        padding: 0 2.6042vw;
    }

    .btn-ask {
        margin-top: 6.901vw;
    }

    .btn-ask svg,
    .faq-ask-question span svg {
        align-self: center;
        width: 1.9531vw;
        margin-left: 1.3021vw;
    }

    footer {
        padding-top: 13.0208vw;
        background-image: url(images/footer-palm-bg-768.png);
        background-size: 48.8281vw;
    }

    .footer-container {
        height: 38.151vw;
        margin-bottom: 0;
    }

    .footer-left {left: 5.0781vw;transform: unset;}

    .footer-right {
        left: 63.6719vw;
    }

    .footer-left h2 {
        font-size: 4.6875vw;
        line-height: 4.6875vw;
    }

    .footer-left h2 span::before {
        background: url(images/footer-text-badge-768.png);
        width: 5.7292vw;
        height: 2.7344vw;
        background-size: cover;
    }

    .contact-phone span, .contact-email span, .social-title {
        font-size: 1.4323vw;
        margin-bottom: 0;
        height: 1.6927vw;
        line-height: 1.6927vw;
        display: inline-block;
    }

    .social-title {
        margin-bottom: 0.9115vw;
    }

    .social-icons {
        height: 4.0365vw;
        display: flex;
        gap: 3.2552vw;
    }

    .social-icons a {
        height: 4.0365vw;
        min-width: 4.0365vw;
        display: flex;
        align-items: center;
        margin: 0;
    }

    .social-icons a svg {
        width: 100%;
        height: 100%;
    }

    .social-icons a svg#youtube-svg {
        width: 4.9479vw;
        height: 3.2552vw;
    }

    .contact-title {
        font-size: 1.8229vw;
        height: 2.3438vw;
        line-height: 2.3438vw;
    }

    .contact-email a, .contact-phone a {
        font-size: 2.3438vw;
        height: 2.3438vw;
        line-height: 2.3438vw;
    }

    .contact-phone, .contact-email {
        height: 4.6875vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2.2135vw;
    }

    .contact-phone {
        margin-top: 2.474vw;
        margin-bottom: 2.2135vw;
    }

    .contact-phone > br, .contact-email > br {
        display: none;
    }

    .footer-nav ul li {
        font-size: 1.3021vw;
        padding-right: 1.9531vw;
    }

    .footer-nav ul > div > div > li:first-of-type {
        min-width: 4.1667vw;
        padding-right: 3.9063vw;
    }

    .footer-nav {
        overflow: hidden;
    }

    footer .grid16 .flex:first-of-type {
        padding-right: 11.75vw;
    }

    footer .footer-nav .grid8 div.flex li:first-of-type {
        padding-right: 0;
    }

    footer .footer-nav .grid8 div.flex li:nth-of-type(2) {
        display: none;
    }

    footer .footer-nav .grid16 {
        padding-right: 9.8958vw;
    }

    footer .footer-nav .grid8 {
        flex-direction: row-reverse;
    }

    .footer-bottom {
        height: 9.2448vw;
        margin: 0 1.667vw;
    }

    .footer-bottom p {
        font-size: 1.3021vw;
        line-height: 130%;
    }

    .footer-bottom p.grid8 {
        width: 43.4896vw;
    }

    .footer-bottom p:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 1.3021vw;
        min-width: 46.4427vw;
        max-width: 45.4427vw;
        width: 45.4427vw;
    }

    .footer-bottom p:first-of-type img {
        display: none;
    }

    .footer-bottom p:first-of-type a,
    .footer-bottom p:first-of-type span {
        height: 0.9115vw;
    }

    .footer-bottom a {
        text-decoration: underline;
    }

    #best-points .cta button svg {
        align-self: center;
        width: 1.9531vw;
        margin-left: 1.3021vw;
    }

    section#additional-company-info > div > h2::before {
        width: 8.3333vw;
        height: 3.6458vw;
        content: '';
        background-image: url(images/black-badge-768.png);
        background-size: contain;
        margin-right: 1.1719vw;
    }

    div#forms-of-ownerships-guide .form-container,
    div#areas-and-beaches-guide .form-container,
    div#phuket-future-guide .form-container,
    div#personal-consultation .form-container,
    div#choose-property .form-container,
    div.faq-form .form-container {
        flex-direction: column;
        height: 700px;
        width: 400px;
        margin: 0 2.78vw;
        background-color: unset;
        position: relative;
        top: 2.78vw;
    }

    div#personal-consultation .form-container .image-section, div#choose-property .form-container .image-section, div.faq-form .form-container .image-section, div#forms-of-ownerships-guide .form-container .image-section, div#areas-and-beaches-guide .form-container .image-section, div#phuket-future-guide .form-container .image-section {
        height: 200px;
        width: 100%;
    }

    div#personal-consultation .form-container .form-section, div#choose-property .form-container .form-section, div.faq-form .form-container .form-section, div#forms-of-ownerships-guide .form-container .form-section, div#areas-and-beaches-guide .form-container .form-section, div#phuket-future-guide .form-container .form-section {
        height: 520px;
        min-height: 520px;
        width: 100%;
        border-radius: 20px;
        position: relative;
        top: -20px;
        padding: 50px;
        padding-bottom: 40px;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    div.faq-form .form-container .form-section {
        height: 100%;
        width: 100%;
        min-height: unset;
        top: 0;
        border-radius: 20px;
    }

    div#choose-property .form-container .form-section {
        background: white;
    }

    div#guide-form-result .form-container .form-section h2, div#personal-consultation .form-container .form-section h2, div#choose-property .form-container .form-section h2, div.faq-form .form-container .form-section h2, div#forms-of-ownerships-guide .form-container .form-section h2, div#areas-and-beaches-guide .form-container .form-section h2, div#phuket-future-guide .form-container .form-section h2 {
        font-size: 26px;
        text-align: center;
    }

    div#guide-form-result .form-container .form-section p, div#personal-consultation .form-container .form-section p, div#choose-property .form-container .form-section p, div.faq-form .form-container .form-section p, div#forms-of-ownerships-guide .form-container .form-section p, div#areas-and-beaches-guide .form-container .form-section p, div#phuket-future-guide .form-container .form-section p {
        font-size: 14px;
    }

    div#special-offer-form .form-container .form-section .form-inputs .form-select, div#special-offer-form .form-container .form-section .form-inputs > input ,
    div#choose-property .form-container .form-section .form-inputs > input {
        width: 300px;
    }

    div#special-offer-form .form-container .form-section p,
    div#choose-property .form-container .form-section p {
        width: 293px;
        margin: 6px 0 20px 0;
        max-width: 293px;
        text-align: center;
    }

    div#special-offer-form .form-container .form-section p {
        margin-bottom: 30px;
    }

    div#choose-property .form-container .close-popup {
        position: absolute;
        top: -170px;
        right: 10px;
    }

    div#special-offer-form .form-container .close-popup,
    div#choose-property .form-container .close-popup {
        width: 37px;
        height: 37px;
        border-radius: 19px;
     }

    div#special-offer-form .form-container .close-popup {
        top: 10px;
        right: 10px;
    }

    div.faq-form .form-container .close-popup svg,
    div#choose-property .form-container .close-popup svg {
        width: 11px;
        height: 11px;
    }

    div#special-offer-form .form-container {
        height: 496px;
        width: 444px;
        padding: 0;
        box-sizing: border-box;
        background-image: url(images/special-offer-form-bg-768.png);
        margin: 0;
        border-radius: 20px;
    }

    .offer-info {
        padding-top: 15px;
    }

    .offer-info h3 {
        font-size: 18px;
        margin-bottom: 2px;
    }

    .offer-info p {
        font-size: 14px;
        height: 36px;
    }

    .offer-button {
        height: 4.1667vw;
        line-height: 4.1667vw;
        font-size: 1.5625vw;
        padding: 0 2.6042vw;
        max-width: unset;
        max-height: unset;
        margin-top: 15px;
        box-sizing: border-box;
        border-radius: 16px;
    }

    .offer-button svg {
        width: 1.25vw;
        margin-left: 0.83vw;
        height: auto;
    }

    .offer-image {
        height: 167px;
    }

    .sticky-container {
        height: 73.724vw;
    }
}
