@media (max-width: 767px) {
    body {
        100%
    }

    #line-around-sections {
        position: fixed;
        height: 100%;
        width: 0;
        left: 2.78vw;
        border-right: 0.08vw solid rgba(149, 149, 149, 0.15);
        z-index: 2000;
    
    }
    #line-around-sections-right {
        position: fixed;
        height: 100%;
        width: 0;
        left: 8.33vw;
        border-right: 0.08vw solid rgba(149, 149, 149, 0.15);
        z-index: 2000;
    
    }
    #line-start-30 {
        position: fixed;
        height: 100%;
        width: 0;
        left: 47.22vw;
        border-right: 0.08vw solid rgba(149, 149, 149, 0.15);
        z-index: 2000;
    
    }
    #line-start-640 {
        position: fixed;
        height: 100%;
        width: 0;
        right: 2.78vw;
        border-right: 0.08vw solid rgba(149, 149, 149, 0.15);
        z-index: 2000;
    
    }

    .box {
        width: 12.22vw;
        height: 4.72vw;
    
    }
    
    .line:nth-child(1) {
        
    }
    
    .line:nth-child(2) {
        width: 5.28vw;
    }
    
    .line:nth-child(3) {
        width: 12.22vw;
    }
    
    section#main-page > header {
        height: 18.06vw;
        max-height: 18.06vw;
        padding: 2.78vw;
        padding-bottom: 0;
    }
    
    section#main-page #logo img {
        width: 22.22vw;
        margin-top: 2.78vw;
    
    }
    section#main-page .right-line,
    section#main-page #logo {
        width: 26.94vw;
        min-width: 26.94vw;
    }
    
    section#main-page .right-line {
        height: 5.56vw;
    
    }

    section#main-page {
        height: auto;
        background-image: url("images/first_section_bg-360.png");
    
    }

    section#main-page .flex {
        flex-direction: column;
    }
    
    section#main-page span#for-life::before {
        width: 29.44vw;
        height: 6.67vw;
        background: url("images/for_life_before.png");
        background-repeat: no-repeat;
        content: '';
        background-size: 29.44vw 6.67vw;
    }

    section#main-page div#location_tag {
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
        margin-bottom: 4.17vw;
    
    }
    
    section#main-page div#location_tag::before {
        width: 2.22vw;
        height: 3.61vw;
        background: url("images/location-mark.svg");
        background-repeat: no-repeat;
        background-size: 2.22vw 3.61vw;
        content: '';
        margin-right: 1.39vw;
    
    }
    
    section#main-page .flex div#text {
        font-weight: 400;
        font-size: 8.89vw;
        line-height: 100%;
        padding: 22.22vw 8.33vw;
        padding-bottom: 0;
    }
    
    section#main-page div#special-offer-slider div.stats .rent-stats {
        width: 38.89vw;
        padding: 4.17vw;
        box-sizing: border-box;
        height: 20.56vw;
        margin-right: 3.61vw;
        background-size: contain;
    
    }
    
    section#main-page div#special-offer-slider div.stats .digits {
        font-style: normal;
        font-weight: 400;
        font-size: 8.89vw;
        line-height: 100%;
    }
    
    section#main-page div#special-offer-slider {
        padding: 8.33vw;
        margin-top: 0;
    }
    
    section#main-page div#special-offer-slider > p {
        text-transform: uppercase;
        font-size: 3.89vw;
        line-height: 3.89vw;
        margin-bottom: 2.22vw;
    
    }

    section#main-page section.offers .offer .offer-button {
        line-height: 8.89vw;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 500;
        font-size: 3.33vw;
        box-sizing: border-box;
        padding: 0 5.56vw;
    }

    section#main-page div#greetings .yellow-link {
        margin: 0 8.33vw;
        margin-bottom: 19.44vw;
        height: 8.89vw;
        width: 70.0vw;
        box-sizing: border-box;
        line-height: 8.89vw;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 500;
        font-size: 3.33vw;
        padding: 0 5.56vw;
    }
    
    div#greetings .yellow-link svg {
        width: 4.17vw;
        margin-left: 2.78vw;
    }
    
    section#main-page section.offers {
        margin: 0;
        box-sizing: border-box;
        left: 2.78vw;
        width: 150%;
        align-self: baseline;
        padding: 5.56vw;
        height: 100vw;
        margin-bottom: 13.89vw;
        border-radius: 5.56vw;
        padding-top: 5.00vw;
        overflow: hidden;
    
    }
    
    section#main-page .offers-header .header-text {
        width: unset;
        align-items: end;
    
    }
    
    section#main-page .offers-header h2 {
        font-size: 3.89vw;
    }
    
    section#main-page .offers-count .current-number {
        font-size: 5.00vw
    }
    
    section#main-page .offers-count .total-number {
        font-size: 3.89vw;
    }
    
    section#main-page .offer-image {
        width: 83.33vw;
        height: 46.39vw;
        margin-top: 4.17vw;
        margin-bottom: 4.17vw;
    }
    
    section#main-page .offer-label {
        font-size: 3.89vw;
        height: 5.83vw;
        line-height: 5.83vw;
        border-radius: 5.83vw;
        padding: 0 2.78vw;
        left: 2.78vw;
        top: 2.78vw;
    }
    
    section#main-page section.offers .offers-controls {
        position: absolute;
        bottom: 5.56vw;
        left: 55.56vw;
        width: auto;
        height: 5.56vw;
        z-index: 1000;
        background-color: #393939;
        border-radius: 50vw;
    
    }
    
    section#main-page section.offers .offers-controls .offers-nav button.next-btn,
    section#main-page section.offers .offers-controls .offers-nav button.prev-btn {
        width: 15.28vw;
        height: 5.56vw;
        margin: 0;
    }
    
    section#main-page section.offers .offers-controls .offers-nav {
        margin-left: 0;
        gap: 2.78vw;
        display: flex;
    }
    
    section#main-page section.offers .offer {
        width: 100vw;
        min-width: 100vw;
        border-radius: 0.0vw;
        background-color: unset;
    }
    
    .offers-content {
        position: relative;
        transition: 0.3s ease-in-out;
        left: 0;
        overflow: hidden;
        width: 200vw;
        /* left: -100vw; */
    
    }
    
    section#main-page section.offers .offer .offer-button {
        margin-top: 4.17vw;
        height: 8.89vw;
        box-sizing: border-box;
        line-height: 8.89vw;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 500;
        font-size: 3.33vw;
        padding: 0 5.56vw;
        border-radius: 50px;
        background-color: #FCBD21;
        color: #393939;
        display: inline-flex;
        align-items: center;
    
    }
    
    section#main-page section.offers .offer .offers-content {
        border-radius: 0;
    }
    
    section#main-page section.offers .offer .offer-info {
        padding-left: 0;
        padding-bottom: 0;
        background-color: unset;
        border-radius: 0.0vw;
    }
    
    section#main-page .offer-info h3 {
        font-size: 5.00vw;
    }
    
    section#main-page .offer-info p {
        font-size: 3.89vw;
    }
    
    section#main-page div#special-offer-slider div.stats .sale-stats {
        width: 40.83vw;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        height: 20.56vw;
        background-size: contain;
        background-image: url("images/sale-stats-bg-360.png");
        align-items: baseline;
        justify-content: center;
        padding-left: 3.89vw;
    }
    
    section#main-page div#special-offer-slider div.stats p.digits {
        margin: 0;
    }
    
    div#special-offer-slider div.stats .digits-description {
        font-size: 3.61vw;
        line-height: 3.61vw;
    }
    
    div#special-offer-slider > span {
        font-size: 3.61vw;
        margin-top: 1.67vw;
        display: block;
    
    }
    
    div#special-offer-slider > span:before {
        margin-right: 1.11vw;
        width: 3.06vw;
        height: 3.06vw;
        background-image: url("images/passport-only-mark.svg");
        content: '';
        background-size: 100%;
        position: relative;
        top: 0.5vw;
    }
    
    section#main-page .offer-button svg {
        width: 4.17vw;
        margin-left: 2.78vw;
        stroke: #393939;
        line-height: 8.89vw;
    
    }

    section#main-page .main-nav > ul li {
        display: none;
    }
    
    section#main-page .main-nav > ul > div.language-selector {
        width: 13.06vw;
        height: 7.5vw;
        box-sizing: border-box;
        position: absolute;
        right: 23.33vw;
    
    }
    
    section#main-page .main-nav > ul > div.language-selector img {
        width: 5.83vw;
        height: 5.83vw;
    }
    
    section#main-page .main-nav > ul > div.language-selector img:nth-of-type(2) {
        width: 2.78vw;
        height: auto;
    }

    section#attractive-direction {
        padding: 2.78vw;
        padding-top: 27.78vw;
        padding-bottom: 13.89vw;
    }
    
    section#attractive-direction .wrapper1920 {
        padding: 0;
    }
    
    section#attractive-direction .facts-wrapper {
        height: auto !important;
    }

    section#attractive-direction p.main-thought,
    section#attractive-direction p#main-thought {
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
        padding-left: 5.56vw;
        padding-top: 0.0vw;
        padding-right: 4.17vw;
    
    }
    
    p.main-thought br {
        display: none;
    }
    
    p.main-thought span::before, p#main-thought span::before {
        height: 5.83vw;
        width: 19.72vw;
        margin-right: 3.06vw;
    }
    
    p.main-thought span::before {
        background-image: url("images/facts-badge-360.png");
    }
    
    p#main-thought span::before {
        background: url("images/sofa-badge-360.png");
        width: 30.56vw;
        height: 5.83vw;
        background-size: 100%;
    
    }
    
    p.main-thought span.desktop-badge:before {
        display: none;
    }
    
    section#attractive-direction .fact-container {
        height: 124.17vw;
        display: none;
        gap: 0.0vw;
        flex-direction: column;
        position: unset;
        margin-bottom: 13.89vw;
    }
    
    section#attractive-direction .fact-container.current {
        display: flex;
        background: #393939;
        box-shadow: 0.83vw 1.67vw 2.78vw rgba(0, 0, 0, 0.3);
        border-radius: 0px 0px 5.56vw 5.56vw;
    
    }
    
    section#attractive-direction .last-fact-container {
        display: block;
        opacity: 0;
        background: url("images/last-fact-bg-767.png");
        height: 121.94vw;
        margin-top: 0;
        padding: 5.56vw;
        box-sizing: border-box;
        background-size: 106%;
        background-position: bottom;
        box-shadow: 0.83vw 1.67vw 2.78vw rgba(0, 0, 0, 0.3);
        border-radius: 5.56vw;
    
    }
    
    section#attractive-direction .last-fact-container .fact-left-part .big-fact-item .number {
        margin-bottom: 5.83vw;
        font-size: 3.33vw;
    }
    
    section#attractive-direction .last-fact-container .fact-left-part .big-fact-item p,
    section#attractive-direction .last-fact-container .fact-item p {
        font-size: 4.17vw;
    
    }
    
    section#attractive-direction .fact-items .fact-item p {
        font-size: 4.17vw;
    
    }
    
    section#attractive-direction .last-fact-container .fact-items span, section#attractive-direction .last-fact-container .fact-right-part span {
        font-size: 3.89vw;
        max-width: unset;
    }
    
    section#attractive-direction .last-fact-container .fact-items span.second-fact-item {
        width: 41.94vw;
    
    }
    
    section#attractive-direction .last-fact-container span.fourth-fact-item {
        width: 70vw;
    }

    section#attractive-direction .last-fact-container .fact-right-part svg,
    section#attractive-direction .last-fact-container > svg {
        display: none;
    }
    
    section#attractive-direction .last-fact-container .fact-left-part {
        flex-direction: column;
        width: 100%;
    }

    section#attractive-direction .last-fact-container .fact-items {
        width: 100%;
        max-width: unset;
        gap: 8.33vw;
        height: auto;
        padding: 0;
    
    }
    
    section#attractive-direction .last-fact-container .fact-right-part {
        gap: 8.33vw;
        height: auto;
        padding: 0;
    }
    
    
    
    section#attractive-direction .last-fact-container .fact-left-part .big-fact-item .fact-item p {
        font-size: 5vw !important;
    }

    section#attractive-direction .last-fact-container .fact-right-part .fact-item:first-of-type,
    section#attractive-direction .last-fact-container .fact-items .fact-item:first-of-type {
        left: 27.78vw;
        position: relative;
        margin-top: 8.33vw;
    
    }
    
    section#attractive-direction .fact-container .fact-left-part {
        top: 0;
        left: 0;
        width: 100%;
        max-width: unset;
        max-height: unset;
        grid-column: unset;
        grid-row: unset;
        background-image: url("images/fact-1-bg-767.png");
        background-size: 94.44vw 72.22vw;
        background-position: bottom;
        height: 124.17vw;
        opacity: 1;
        border-radius: 4.17vw;
    
    }
    
    section#attractive-direction .fact-container .fact-left-part.second {
        background-image: url("images/fact-2-bg-767.png");
        border-radius: 4.17vw;
    }
        section#attractive-direction .fact-container .fact-left-part.third {
        background-image: url("images/fact-3-bg-767-shadow.png");
    }
    
    section#attractive-direction .fact-container .fact-left-part .fact-footer {
        position: relative;
        top: 0;
        left: 0;
        height: 66.39vw;
        width: 100%;
        flex-direction: column;
        align-items: baseline;
        justify-content: end;
        padding: 5.56vw;
        box-sizing: border-box;
    }
    
    section#attractive-direction .fact-container .fact-left-part .fact-footer span.fact-button {
        margin: 0;
        height: 8.89vw;
        max-height: unset;
        line-height: 8.89vw;
        font-size: 3.33vw;
        width: auto;
        padding: 0 5.56vw;
        box-sizing: border-box;
        min-width: 44.44vw;
        display: flex;
        align-items: center;
    }
    
    #check-objects .form-select > span svg {
        transform: rotate(180deg);
    }
    
    .btn-ask svg,
    .faq-ask-question span svg,
    section#tenth-section div.content .block-link span svg,
    .form-button svg,
    #check-objects .next-button svg,
    #prices-and-benefits .next-button svg,
    section#investments-base .form-button svg,
    section#attractive-direction .fact-container .fact-left-part .fact-footer span.fact-button svg {
        width: 4.17vw;
        margin-left: 2.78vw;
        height: auto;
    }
    
    section#attractive-direction .fact-container .fact-left-part .fact-footer p {
        margin: 0;
        padding: 0;
        margin-bottom: 4.17vw;
        max-width: 83.33vw;
        font-size: 4.17vw;
    
    }
    
    section#attractive-direction .fact-container .fact-left-part .fact-text {
        margin: 0;
        width: 100%;
        height: 57.78vw;
        opacity: 1;
        transform: unset;
        border-radius: 4.17vw;
    }
    
    section#attractive-direction .fact-container .fact-left-part .fact-text .fact-badge {
        font-size: 3.33vw;
        height: 5.56vw;
        padding: 0 2.78vw;
        width: auto;
        border-radius: 80px;
        line-height: 5.56vw;
        top: 5.56vw;
        left: 5.56vw;
    
    }
    
    section#attractive-direction .fact-container .fact-left-part .fact-text .info-badge::before {
        margin: 0;
        display: none;
    }
    
    section#attractive-direction .fact-container .fact-left-part .fact-text .info-badge {
        font-style: normal;
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
        position: relative;
        margin-left: 5.56vw;
        margin-top: 1.11vw;
    
    }
    
    section#attractive-direction .fact-container .fact-left-part .fact-text .info-badge:last-of-type {
        margin-bottom: 5.56vw;
    }
    
    section#attractive-direction .fact-container .fact-left-part .fact-text .info-badge svg {
        width: 2.5vw;
        height: 2.5vw;
    }
    
    section#attractive-direction .fact-container .fact-left-part .fact-text p {
        font-style: normal;
        font-weight: 400;
        font-size: 5.0vw;
        line-height: 100%;
        max-width: 60%;
        margin-left: 5.56vw;
    }
    
    section#attractive-direction .fact-container .fact-right-part {
        top: 0;
        left: 0;
        width: 100%;
        position: relative;
        display: none;
    }
    
    section#youtube-video {
        padding: 27.78vw 2.78vw;
        position: relative;
        height: auto;
        padding-bottom: 42.22vw;
        background-position: 100% 35%;
        background-size: 60%;
    }
    
    section#youtube-video .youtube-container {
        flex-direction: column;
        padding: 0;
        max-width: unset;
    }
    
    section#youtube-video .youtube-container .text-container img {
        width: 27.78vw;
        height: 6.11vw;
    }
    
    section#youtube-video .youtube-container .image-container {
        width: 100%;
        order: 2;
        border-radius: 5.56vw;
    
    }
    
    section#youtube-video .youtube-container .text-container {
        top: 0;
        left: 0;
        margin: 0;
        padding: 0 5.56vw;
        order: 1;
    
    }
    
    section#youtube-video .youtube-container .text-container a {
        position: absolute;
        bottom: 27.78vw;
        right: 2.78vw;
        width: 48vw;
        align-self: center;
        display: flex;
        margin-top: 4.17vw;
        height: 8.89vw;
        line-height: 8.89vw;
        font-style: normal;
        font-weight: 500;
        font-size: 3.33vw;
        padding: 0 5.56vw;
        border-radius: 50px;
        max-width: unset;
    
    }
    
    section#youtube-video .youtube-container .text-container a svg {
        margin-left: 1.39vw;
        align-self: center;
        width: 4.17vw;
        margin-left: 2.78vw;
    
    }
    
    section#youtube-video .youtube-container .text-container p {
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
        margin: 8.33vw 0;
    
    }
    
    section#youtube-video .youtube-container .image-container img {
        width: 100%;
        height: auto;
        border-radius: 5.56vw;
    
    }
    
    section#youtube-video .youtube-container .image-container .play-icon {
        width: 19.44vw;
        height: 19.44vw;
        top: 50%;
        left: 50%;
        transform: translate(-9.72vw, -9.72vw);
    }
    
    section#quote-with-four-men {
        min-height: 109.72vw;
        height: 109.72vw;
    }
    
    section#quote-with-four-men div.quote-sign {
        padding: 8.33vw;
    }
    
    section#quote-with-four-men div.quote-sign {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 3.33vw;
        line-height: 113.2%;
        left: 0;
        transform: unset;
    }
    
    section#quote-with-four-men div.quote-sign span:first-of-type {
        font-style: normal;
        font-weight: 400;
        font-size: 5.0vw;
        line-height: 100%;
        margin-bottom: 2.22vw;
        display: block;
    }
    
    section#quote-with-four-men img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 60%;
    }
    
    section#quote-with-four-men div.quote {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
    }
    
    section#quote-with-four-men div.quote .right {
        text-align: left;
        padding-left: 30.56vw;
        padding-right: 8.33vw;
        position: unset;
        left: unset;
        transform: unset;
    
    }
    
    section#quote-with-four-men div.quote .left {
        padding-left: 8.33vw;
        position: unset;
        left: unset;
        transform: unset;
    
    }
    
    section#company-owner {
        flex-direction: column;
        padding: 27.78vw 2.78vw 13.89vw 2.78vw;
        position: relative;
    
    }
    
    section#company-owner div#i-know-everything {
        padding: 0;
        width: 100%;
        padding-top: 28.06vw;
    
    }
    
    section#company-owner div#picture {
        width: 100%;
        height: auto;
    }
    
    section#company-owner #investment-info {
        padding-top: 8.33vw;
        padding-left: 5.56vw;
    
    }
    
    section#company-owner #investment-info > p {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
        position: absolute;
        top: 0;
        margin: 0;
        padding-top: 27.78vw;
    }
    
    section#company-owner #investment-info .details-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5.56vw;
        text-align: left;
        row-gap: 11.11vw;
    }
    
    #investment-info .detail-item {
        width: 100% !important;
    
    }
    
    section#company-owner #investment-info .details-grid .column2-wide {
        grid-column: 1 / -1 
    }
    
    #investment-info .detail-item h3 {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 5.0vw;
        line-height: 100%;
    
    }
    
    #investment-info .detail-item p {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
    }
    
    section#best-points {
        width: 100%;
        height: auto;
        padding: 27.78vw 2.78vw;
        margin: 0;
        box-sizing: border-box;
    }
    
    section#best-points .container {
        max-width: 100.0vw;
        padding: 0;
    }
    
    #best-points .container > h2:nth-of-type(2) {
        padding-left: 2.78vw;
    }
    
    section#best-points .container > h2 {
        padding: 0 5.56vw;
        font-size: 7.50vw;
        display: inline;
        padding-right: 0;
    
    }
    
    section#best-points span.mobile-badge::before {
        background: url("images/rectangle-points-from-denis.png");
        content: '';
        height: 6.39vw;
        width: 20.56vw;
        display: inline-block;
        min-width: 20.56vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        margin-right: 1.94vw;
    
    }
    
    section#best-points span.mobile-badge {
        padding: 0 5.56vw;
        display: block;
    
    }

    #best-points .container > h2:nth-of-type(2)::before {
        height: 6.39vw;
        width: 20.56vw;
        display: none;
        min-width: 20.56vw;
    }
    
    section#best-points .grid {
        display: flex;
        flex-direction: column;
        gap: 5.56vw;
    
    }
    
    section#best-points .grid .grid-item {
        width: 100%;
        box-sizing: border-box;
        height: auto;
        padding: 5.56vw;
        box-shadow: 0.83vw 1.67vw 2.78vw rgba(0, 0, 0, 0.15);
        border-radius: 5.56vw;
    
    }
    
    #best-points .cta button {
        width: 40.56vw;
        display: flex;
        height: 8.89vw;
        line-height: 8.89vw;
        font-style: normal;
        font-weight: 500;
        font-size: 3.33vw;
        padding: 0 5.56vw;
        border-radius: 50px;
    
    }
    
    #best-points .cta button svg {
        width: 4.17vw;
        margin-left: 2.78vw;
    
    }
    
    #best-points .grid-item.cta p {
        margin: 0;
        padding-top: 8.61vw;
        margin-bottom: 5.56vw;
        font-size: 5.56vw;
    
    }
    
    .cta p::before {
        top: 0.0vw;
        width: 3.89vw;
        height: 3.89vw;
    
    }
    
    section#best-points .grid .grid-item.img {
        padding: 0;
        display: block;
    
    }
    
    section#best-points .grid .grid-item.img img {
        display: initial;
        width: 100%;
    
    }
    
    #best-points .grid-item h3 {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 3.33vw;
        line-height: 100%;
    }

    #best-points .grid-item h3:first-of-type {
        font-size: 3.33vw;
    }
    
    #best-points .grid-item h3:nth-of-type(2) {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 5.0vw;
        line-height: 100%;
        padding-top: 2.78vw;
    
    }
    
    section#best-points .grid-item p {
        margin-top: 5.56vw;
        font-size: 3.89vw;
    }
    
    section#investments-base {
        height: auto;
        position: relative;
        padding-bottom: 27.78vw;
    }
    
    #investments-base .wrapper1920 {
        padding: 0;
    }
    
    section#investments-base img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    
    }
    
    section#investments-base .quote {
        padding-top: 27.78vw;
        padding-left: 8.33vw;
        box-sizing: border-box;
        position: relative;
        z-index: 10;
    
    }
    
    section#investments-base .quote p.title {
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
        margin-top: 0;
        margin-bottom: 4.17vw;
    }
    
    section#investments-base .quote p.description {
        width: 100%;
        padding-right: 8.33vw;
        text-align: right;
        box-sizing: border-box;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 300;
        font-size: 3.89vw;
        line-height: 130%;
    
    }
    
    section#investments-base .quote p.description br {
        display: none;
    }
    
    #get-properties {
        margin: 0 2.78vw;
        margin-top: 8.33vw;
        height: auto;
        width: calc(100% - 5.56vw);
        position: relative;
        border-radius: 5.56vw;
    
    }
    
    #get-properties .form-text {
        padding-top: 8.33vw;
        padding-left: 9.44vw;
        padding-right: 9.44vw;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 300;
        font-size: 3.89vw;
        line-height: 130%;
    }
    
    #get-properties .form-text p {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
    
    }
    
    #get-properties .form-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 8.33vw;
        gap: 5.56vw;
        padding: 0 5.56vw 0 5.56vw;
    
    }
    
    #prices-and-benefits .form-inputs .form-actions {
        margin-bottom: 0;
    }
    
    .form-inputs .form-actions {
        margin-top: 2.78vw;
        width: auto;
        margin-bottom: 8.33vw;
    }
    
    .form-agreement {
        font-size: 2.5vw !important;
        width: 41.94vw;
        margin: 0 auto;
    
    }
    
    .form-agreement > div {
        left: 2.22vw;
        align-items: center;
    
    }
    
    #get-properties .form-inputs .form-actions .form-button {
        margin-bottom: 2.78vw;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 500;
        font-size: 3.33vw;
        line-height: 100%;
        width: 57.78vw;
        box-sizing: border-box;
        padding: 0 5.56vw;
        height: 8.89vw;
        color: #393939;
    
    }
    
    .form-agreement > div svg,
    .form-agreement > div input {
        position: relative;
        left: -4.72vw;
        width: 2.50vw;
        height: 2.50vw;
        margin: 0;
    }
    
    input#agreement {
        margin-right: 0.83vw;
        border-radius: 0.56vw;
    
    }
    
    .form-agreement .first-line {
        position: relative;
        left: -4.72vw;
        height: unset;
        line-height: unset;
    
    }
    
    #get-properties .form-input,
    #get-properties .form-select {
        width: 100%;
        height: 8.89vw;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        height: 32px;
        height: 8.89vw !important;
        font-size: 3.61vw;
        border-radius: 8.89vw;
        padding: 0 5.56vw;
    }
    
    #get-properties .form-select span svg {
        transform: rotate(180deg);
    }
    
    #investments-base .form-select div.feddback-options-list > span svg {
        transform: rotate(0deg);
    }
    
    #check-objects .form-select div.feddback-options-list,
    #investments-base .form-select div.feddback-options-list {
        border-radius: 4.44vw;
        border: 1px solid #FCBD21;
        height: 35.56vw;
    
    }
    
    .feddback-options-list span {
        height: 8.89vw !important;
        line-height: 8.89vw !important;
        padding: 0 5.56vw !important;
        font-size: 3.61vw !important;
        border-radius: 8.89vw;    
    }
    
    #prices-and-benefits div.feddback-options-list span {
        color: rgba(57, 57, 57, 0.49);
    }

    .feddback-options-list span:first-of-type {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    
    }
    
    #investments-base .form-select > span, #check-objects .form-select > span, #prices-and-benefits .form-select > span {
        height: 8.89vw;
        line-height: 8.89vw;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        height: 8.89vw;
        font-size: 3.61vw;
        border-radius: 8.89vw;
        padding: 0 5.56vw;
        color: rgba(57, 57, 57, 0.49);
    }
    
    #investments-base .form-select > span, #check-objects .form-select > span {
        color: rgba(255, 255, 255, 0.5);
        padding: 0;
    }
    
    #check-objects .form-select > span.selected,
    #investments-base .form-select > span.selected {
        color: white;
    }
    
    #check-objects .form-select > span {
        padding: 0 5.56vw;
    }
    
    #check-objects .form-button,
    #prices-and-benefits .form-button {
        margin-bottom: 2.78vw;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 500;
        font-size: 3.33vw;
        line-height: 100%;
        width: 57.78vw;
        box-sizing: border-box;
        padding: 0 5.56vw;
        height: 8.89vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #prices-and-benefits .form-button svg {
        width: 4.17vw;
        margin-left: 2.78vw;
        height: auto;
    
    }
    
    section#prices-and-benefits {
        width: 100%;
        height: auto;
    }

    section#check-objects .header-section,
    section#prices-and-benefits .header-section {
        padding: 27.78vw 2.78vw 13.89vw 2.78vw;
    }
    
    section#check-objects {
        background: url("images/check-objects-bg-360.png");
        background-size: cover;
    
    }
    
    section#check-objects .header-section {
        padding-bottom: 27.78vw;
    
    }
    
    #check-objects .header-content h3,
    section#prices-and-benefits .header-content h1 {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
        margin-bottom: 2.78vw;
    
    }
    
    section#check-objects .header-content p,
    section#prices-and-benefits .header-content p {
        font-style: normal;
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
        margin: 0;
        margin-top: 2.78vw;
    }
    
    section#check-objects .header-content p {
        margin-top: 0;
    }
    
    section#prices-and-benefits .quiz-section {
        background: white;
        display: flex;
        flex-direction: column;
        padding: 5.56vw;
        margin-top: 8.33vw;
        border-radius: 4.17vw;
        box-shadow: 1.39vw 1.67vw 3.61vw rgba(0, 0, 0, 0.1);
    
    }
    
    #prices-and-benefits .quiz-progress,  #check-objects .quiz-progress {
        margin-bottom: 0;
        position: unset;
        display: flex;
    }
    
    #check-objects .progress-bar,
    #prices-and-benefits .progress-bar {
        margin-top: 0;
        height: 2.5vw;
        border-radius: 2.5vw;
        width: 100%;
    }
    
    #prices-and-benefits .progress {
        border-radius: 8vw;
    }
    
    #check-objects .quiz-question p.green-question,
    #prices-and-benefits .quiz-question p.green-question {
        margin: 0;
        margin-top: 2.78vw;
        font-size: 5.00vw;
    }
    
    #check-objects .quiz-questions-container, #prices-and-benefits .quiz-questions-container {
        height: auto;
        position: relative;
    }
    
    #check-objects .quiz-question.active, #prices-and-benefits .quiz-question.active {
        position: relative;
    }
    
    #prices-and-benefits .form-select > span svg {
        transform: rotate(180deg);
    }
    
    .quiz-buttons {
        display: flex;
        gap: 4.17vw;
    }

    #check-objects .quiz-question p.green-question {
        margin-top: 0;        
    }
    
    .form-inputs {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 5.56vw;
        margin-top: 5.56vw;
    
    }
    
    .form-input, .form-select {
        width: 100%;
        height: 8.89vw;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        height: 32px;
        height: 8.89vw;
        font-size: 3.61vw;
        border-radius: 8.89vw;
        padding: 0 5.56vw;
    }
    
    #prices-and-benefits .form-select span:first-of-type {
        padding: 0 5.56vw;
    }
        #prices-and-benefits .form-select span.selected {
    color: #393939;
    }
    
    #prices-and-benefits .form-select div.feddback-options-list {
        border-radius: 4.44vw;
        border: 1px solid #4caf50;
        height: 35.56vw;
    
    }
    
    .btn-ask,
    .faq-ask-question span,
    section#tenth-section div.content .block-link span,
    #check-objects .quiz-option span,
    #check-objects .next-button,
    #check-objects .prev-button,
    #check-objects .quiz-option,
    #prices-and-benefits .quiz-option span,
    #prices-and-benefits .next-button,
    #prices-and-benefits .prev-button,
    #prices-and-benefits .quiz-option {
        height: 8.89vw;
        font-size: 3.33vw;
        line-height: 8.89vw;
        box-sizing: border-box;
        border-radius: 50vw;
    
    }
    
    #prices-and-benefits .quiz-option.need-width span {
        font-weight: 300;
    
    }

    #check-objects .next-button,
    #check-objects .prev-button,
    #prices-and-benefits .next-button,
    #prices-and-benefits .prev-button {
        padding: 0 5.56vw;
        display: flex;
        width: 29.72vw;
        align-items: center;
        min-width: 29.72vw;
        border-radius: 20vw;
    
    }
    
    #check-objects .quiz-option span,
    #prices-and-benefits .quiz-option span {
        margin-left: 2.78vw;
        margin-right: 5.56vw;
        font-size: 3.89vw;    
    }
    
    #check-objects .quiz-option div.circle, #prices-and-benefits .quiz-option div.circle {
        width: 6.11vw;
        height: 6.11vw;
        margin: 1.39vw;
        border-width: 0.28vw;
        box-sizing: border-box;
        margin-right: 0;
    
    }

    #check-objects .quiz-question.active .quiz-option {
        opacity: 1;
    }
    
    #check-objects .quiz-question {
        position: absolute;
        visibility: hidden;
    }
    
    #check-objects .quiz-options,
    #prices-and-benefits .quiz-options {
        margin: 0;
        margin-top: 4.17vw;
        max-width: 100%;
        overflow: hidden;
        gap: 4.17vw;
        flex-wrap: wrap;
        padding-bottom: 0;
    
    }
    
    #check-objects .quiz-section p,
    section#prices-and-benefits .quiz-section p {
        font-style: normal;
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
        max-width: 100%;
        margin-top: 5.56vw;
        margin-left: 0;
        font-weight: 300;
    
    }
    
    #check-objects .quiz-progress span,
    #prices-and-benefits .quiz-progress span {
        margin-top: 8.33vw;
        font-size: 3.33vw;
        width: 10.56vw;
        height: 4.72vw;
        margin-left: 0;
    }
    
    #check-objects .quiz-progress span {
        background-color: #575757;
        color: white;
        width: 10.56vw;
        height: 4.72vw;
        line-height: 4.72vw;
    
    }

    section#check-objects .header-content,
    section#prices-and-benefits .header-content {
        flex-direction: column;
        padding: 0 5.56vw;
        align-items: unset;
    }
    
    #check-objects .quiz-section {
        background-image: unset;
        display: flex;
        flex-direction: column;
        padding: 5.56vw;
        margin-top: 8.33vw;
        border-radius: 4.17vw;
    }
    

    #prices-and-benefits .prev-button,
    #check-objects .prev-button {
        width: 23.06vw;
        min-width: unset;
        flex-basis: 100%;
        max-width: 23.06vw;
    }
    #check-objects .prev-button {
        background: #959595;
    }
    
    #prices-and-benefits .prev-button {
        background-color: #D7D9D8;
        color: #393939;
    }
    
    #check-objects .quiz-progress {
        margin-bottom: 2.78vw;
    }
    
    section#prices-and-benefits .content-section {
        padding-top: 27.78vw;
        padding-left: 2.78vw;
        padding-right: 2.78vw;
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        gap: 8.33vw;
    
    }
    
    section#prices-and-benefits .text-content {
        margin-left: 5.56vw;
        margin-right: 5.56vw;
        width: 100%;
        margin: 0;
        padding: 5.56vw;
        box-sizing: border-box;
    
    }
    
    section#prices-and-benefits .text-content h2 {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 7.50vw;
        width: 106%;
    
    }
    
    section#prices-and-benefits .text-content p {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
        width: 64.44vw;
        margin-bottom: 11.11vw;
        margin-top: 2.78vw;
    }
    
    section#prices-and-benefits .text-content p br {
        display: none;
    }
    
    section#prices-and-benefits .fact-list {
        display: flex;
        flex-direction: column;
        gap: 11.11vw;
    
    }
    
    section#prices-and-benefits .fact-item {
        height: auto;
        max-width: unset;
    
    }
    
    section#prices-and-benefits .fact-item p.number {
        margin-bottom: 2.78vw;
        font-size: 3.33vw;
        margin-top: 0;
    
    }
    
    section#prices-and-benefits .fact-item p.little-title {
        width: 100%;
        margin-bottom: 2.5vw;
        margin-top: 0.0vw;
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
    
    }
    
    section#prices-and-benefits .fact-item p.little-description {
        margin: 0;
        width: 100%;
        min-width: unset !important;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
    
    }
    
    section#prices-and-benefits .text-content h2:nth-of-type(2)::before {
        content: '';
        margin: 0;
    }
    section#prices-and-benefits .content-section .image-content {
        width: 100%;
    
    }
    
    section#prices-and-benefits .content-section .image-content img {
        height: auto;
        width: 100%;
    }
    
    /*   FIX LATER!!!111   */
    .grid8,
    .footer-bottom p {
        min-width: unset;
        transform: unset;
        left: 0;
        position: relative;
    }
    
    section#additional-company-info {
        padding: 38.34vw 2.78vw 13.89vw 2.78vw;
        background-image: unset;
    
    }
    
    section#additional-company-info .wrapper1920 {
        padding: 0;
    }
    
    section#additional-company-info > div > h2 {
        margin: 0;
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
        padding: 0 5.56vw;
        margin-bottom: 5.56vw;
        position: relative;
    }
    
    section#additional-company-info > div > h2::before {
        position: absolute;
        top: -10.56vw;
        width: 17.78vw;
        height: 7.78vw;
    }
    
    section#additional-company-info div.awards-section {
        flex-direction: column;
    }
    
    section#additional-company-info div.award-card {
        width: 100%;
    }
    
        section#additional-company-info div.award-card img {
        width: 100%;
    }
    
    section#additional-company-info div.award-card > img {
        width: 100%;
        order: 1;
        border-radius: 4.17vw;
    
    }
    
    section#additional-company-info div.award-card.big p {
        order: 2;
        font-style: normal;
        font-weight: 400;
        font-size: 5.0vw;
        line-height: 100%;
        padding: 0;
        margin-top: 2.78vw;
    
    }
    
    section#additional-company-info div.conference-logos {
        order: 3;
        margin-top: 1.94vw;
        gap: 1.39vw;
        align-items: baseline;
    }
    
    section#additional-company-info div.conference-logos img {
        width: 23.89vw;
        min-width: 23.89vw;
        max-width: unset !important;
    
    }
    
    section#additional-company-info div.conference-logos img {
        height: auto;
        max-height: unset;
        max-width: 30%;
    }
    
    section#attractive-direction .last-fact-container .fact-left-part .big-fact-item {
        height: auto;
        max-width: 72.83vw;
        padding: 0;
        margin-bottom: 0;
    
    }
    
    section#additional-company-info div.award-card p {
        margin-top: 2.78vw;
        margin-bottom: 5.56vw;
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 5.0vw;
        line-height: 100%;
        padding-left: 5.56vw;
        padding-right: 5.56vw;
    }
    
    section#additional-company-info div.award-card.big {
        width: 100%;
        box-sizing: border-box;
        margin-top: 2.78vw;
        display: flex;
        flex-direction: column;
        border-radius: 5.56vw;
        padding: 5.56vw;
    
    }
    
    section#additional-company-info > div > h3 {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
        padding: 13.89vw 12.78vw 5.56vw 5.56vw;
        background: url("images/meru-white-back.png");
        background-size: 100%;
        margin-top: 8.33vw;
        margin-bottom: 0;
        background-position: bottom;
        background-repeat: no-repeat;
    
    }
    
    section#additional-company-info div.countries-section {
        flex-direction: column;
        gap: 5.56vw;
        padding: 0 5.56vw;
        box-sizing: border-box;
        width: 100%;
    
    }
    
    section#additional-company-info div.country-card div.header > h4 {
        font-family: igra-sans;
font-style: normal;
font-weight: 400;
font-size: 5.0vw;
line-height: 100%;
    }

    section#additional-company-info div.country-card.big,
    section#additional-company-info div.country-card {
        width: 100%;
        max-height: 37.78vw;
        height: auto;
        border-radius: 4.17vw;
        padding: 5.56vw;
    }
    
    section#additional-company-info div.country-card.last-with-image {
        height: 37.78vw;
        padding: 0 5.56vw;
        background: url("images/last-country-bg.png");
        background-size: 100%;
        display: block;
    
    }
    
    section#additional-company-info div.country-card .agent-info .agent-details p.agent-name {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 5.0vw;
        line-height: 100%;
    }
    
    section#additional-company-info div.country-card div.header div.agent-flags img {
        width: 6.11vw;
        height: 6.11vw;
        margin-left: 2.78vw;
    
    }
    
    section#additional-company-info div.country-card .agent-info .agent-details p.agent-position {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
    
    }
    
    section#additional-company-info div.country-card .agent-info .agent-details {
        margin-left: 2.78vw;
    }
    
    section#additional-company-info div.country-card .agent-info img {
        width: 19.44vw;
        height: 19.44vw;
    }
    
    section#tenth-section div.header {
        padding: 27.78vw 8.33vw 2.78vw 8.33vw;
        flex-direction: column;
    }
    
    section#tenth-section div.content .wrapper1920 {
        transform: unset;
        position: unset;
        left: 0;
        padding: 0 8.33vw;
    
    }
    
    section#tenth-section div.content .block-link {
        margin: 0;
        padding: 0;
        width: 83.33vw;
        height: 35.56vw;
        margin-top: 5.56vw !important;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    
    }
    
    section#tenth-section div.content .block-link:first-of-type {
        background-color: #252525;
        box-sizing: border-box;
        border-radius: 4.17vw;
        padding: 5.56vw;
        background-size: contain;
    
    }
    
    section#tenth-section div.content .block-link p {
        font-size: 5vw;
    }
    
    section#tenth-section div.content .block-link span {
        height: 8.89vw;
        width: 31.11vw;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 500;
        font-size: 3.33vw;
        line-height: 8.33vw;
    
    }
    
    section#tenth-section div.content .block-link:nth-of-type(2) {
        margin-bottom: 5.56vw;
        box-sizing: border-box;
        border-radius: 4.17vw;
        padding: 5.56vw;
        background-size: contain;
    
    }
    
    section#tenth-section div.content {
        width: 100%;
        height: auto;
        align-items: center;
        padding-bottom: 54.2vw;
        background: url("images/10-section-bg-360.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    
    }
    
    section#tenth-section p.main-thought,
    section#tenth-section p#main-thought {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
        margin-bottom: 2.78vw;
    }
    
    section#tenth-section p.main-thought, section#tenth-section p#main-thought br {
        display: none;
    }
    
    section#tenth-section p.main-thought-comment,
    section#tenth-section  p#main-thought-comment {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 300;
        font-size: 3.89vw;
        line-height: 130%;
    }
    
    section#our-partners {
        padding: 27.78vw 0.0vw 13.89vw 0.0vw;
        overflow: hidden;
    
    }
    
    section#our-partners h3 {
        margin: 0;
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
    }
    
    section#our-partners p {
        margin-top: 2.78vw;
        margin-bottom: 0;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
    }
    
    section#our-partners #partners-carousel {
        display: grid;
        row-gap: 9.44vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 17.5vw;
        margin-bottom: 0;
        margin-top: 11.11vw;
    
    }
    
    section#our-partners #partners-carousel img {
        
        width: 37.22vw;
        height: auto;
    }
    
    section#our-partners #partners-carousel img:nth-of-type(2),
    section#our-partners #partners-carousel img:first-of-type {
        position: relative;
        left: 13.89vw;
    }
    
    
    section#our-partners #partners-carousel img:nth-of-type(3n) {
        display: none;
    }
    
    section#news {
        padding-top: 27.78vw;
        padding-left: 2.78vw;
        padding-right: 2.78vw;
        position: relative;
        padding-bottom: 31.11vw;
    
    }
    
    section#news div.header p {
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
        margin-left: 5.56vw;
        margin-bottom: 8.33vw;
    
    }
    
    section#news div.header > p > span::before {
        height: 6.67vw;
        width: 20.28vw;
        background-repeat: no-repeat;
        max-width: unset;
        max-height: unset;
        background-position: bottom;
        margin-right: 2.50vw;
    
    }
    
    section#news div.header > span {
        position: absolute;
        bottom: 13.89vw;
        right: 2.78vw;
        width: 46.67vw;
        height: 8.89vw;
        line-height: 8.89vw;
        font-weight: 500;
        font-size: 3.33vw;
        border-width: 1px;
    
    }
    
    section#news div#news-list {
        flex-direction: column;
        gap: 8.33vw;
    
    }
    
    section#news div#news-list div.news-block-link {
        width: 100%;
        height: auto;
        border-radius: 5.56vw;
    }
    
    section#news div#news-list div.news-block-link .image-wrapper {
        widows: 94.44vw;
        height: 94.44vw;
        border-radius: 5.56vw;
    }
    
    section#news div#news-list .news-date {
        font-size: 2.78vw;
        margin-top: 4.17vw;
        margin-left: 5.56vw;
    
    }
    
    section#news div#news-list .news-title {
        font-size: 5.0vw;
        margin-top: 4.17vw;
        margin-left: 5.56vw;
    
    }
    
    section#news div#news-list .news-description {
        font-size: 3.89vw;
        padding-bottom: 5.56vw;
        margin-left: 5.56vw;
        margin-top: 1.39vw;
    
    }
    
    section.faq-container {
        padding: 27.78vw 8.33vw;
        flex-direction: column;
    
    }
    
    section.faq-container .faq-header h1 {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 10.0vw;
        line-height: 100%;
    }
    
    section.faq-container .faq-header p {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
    }

    .faq-left {
        max-width: 40%;
        margin-bottom: 11.11vw;
    }
    
    .faq-header img {
        width: 21.11vw;
        height: 5.83vw;
        margin-bottom: 2.78vw;
    
    }
    
    .faq-right {
        padding: 0;
    }
    
    .faq-item {
        max-width: unset;
    }
    
    .faq-ask-question {
        margin-top: 13.89vw;
        max-width: 100%;
    
    }
    
    .faq-ask-question img {
        margin-bottom: 0;
    }
    
    .faq-ask-question h3 {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
        width: 70%;
        margin-bottom: 0;
        margin-top: 5.56vw;
    
    }
    
    .btn-ask,
    .faq-ask-question span {
        width: 47.78vw;
        height: 8.89vw;
        line-height: 8.89vw;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 500;
        font-size: 3.33vw;
        box-sizing: border-box;
        margin-top: 2.78vw;
        padding: 0 5.56vw;
    
    }
    
    .faq-answer {
        padding-bottom: 0;
        font-size: 3.89vw;
        max-height: 0;
        line-height: 3.89vw;
        transition: 0.3s ease-in;
    
    }
    
    .faq-item img {
        right: 0;
        background-color: #F9F9F9;
        width: 4.17vw;
        height: 4.17vw;
        top: 5.56vw;
    
    }
    
    .faq-question {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 600;
        font-size: 4.17vw;
        overflow: hidden;
        height: 13.89vw;
        line-height: 13.89vw;
    
    }
    
    .faq-answer.current {
        opacity: 1;
        padding-bottom: 8.33vw;
        transition: 0.3s ease-in max-height;
        visibility: unset;
    
    }
    
    footer {
        height: auto;
        padding: 27.78vw 2.78vw;
        padding-bottom: 18.61vw;
        position: relative;
        box-sizing: border-box;
        background-image: url("images/footer-palm-bg-360.png");
        background-position: top right;
        background-size: 81.39vw 146vw;
    
    }
    
    footer .footer-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 22.22vw;
        border-bottom: 0.28vw solid #848484;
        margin-bottom: 0;
    }
    
    .footer-nav ul {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        border-bottom-width: 0.28vw;
        column-gap: 6.67vw;
        row-gap: 8.33vw;
        padding-bottom: 5.56vw;
    
    }
    
    .footer-nav {
        height: initial;
        padding-top: 5.56vw;
    
    }
    
    .footer-nav ul div.grid8,
    .footer-nav ul div.grid16 {
        display: none;
    }
    
    .footer-nav ul div {
        position: unset;
        top: unset;
        margin: 0;
        padding: 0;
        display: flex;
        column-gap: 11.11vw;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer-nav ul div.grid16.space-between div:last-of-type {
        display: none;
    
    }
    
    .footer-nav .flex {
        display: flex;
        flex-wrap: wrap;
        gap: 6.67vw;
        margin-bottom: 5.56vw;
    
    }
    
    .footer-nav ul li {
        margin: 0;
        white-space: nowrap;
        height: unset;
    
    }
    
    footer .footer-left {
        padding: 0 5.56vw;
        margin-bottom: 13.89vw;
        position: unset;
        left: 0;
        transform: unset;
    
    }
    
    .footer-right {
        padding: 0 5.56vw;
        position: unset;
        left: 0;
        transform: unset;
    }
    
    .contact-title {
        font-weight: 400;
        font-size: 3.89vw;
        line-height: 130%;
        margin-bottom: 5.28vw;
    }
    
    .contact-phone, .contact-email {
        margin-top: 0;
        margin-bottom: 4.72vw;
    
    }
    
    .social-icons a svg {
        width: 8.61vw;
        height: 8.61vw;
    }
    
    svg#youtube-svg {
        width: 10.56vw;
        height: 6.94vw;
    }
    
    .contact-phone span, .contact-email span, .social-title {
        font-style: normal;
        font-weight: 300;
        font-size: 3.06vw;
        line-height: 3.61vw;
        margin-bottom: 1.67vw;
    
    }
    
    .contact-email a, .contact-phone a {
        font-family: igra-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 5.0vw;
        line-height: 100%;
    }
    
    footer .footer-left h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 7.5vw;
        line-height: 100%;
    }
    
    .footer-left h2 span::before {
        width: 13.89vw;
        height: 5.28vw;
        background: url("images/footer-text-badge-767.png");
        background-size: 100%;
        background-repeat: no-repeat;
        content: '';
        position: relative;
        top: 0.56vw;
        margin-right: 2.22vw;
    }
    
    .footer-nav ul li a {
        font-style: normal;
        font-weight: 400;
        font-size: 2.78vw;
        line-height: 113.2%;
    }
    
    footer .footer-bottom {
        display: flex;
        flex-direction: column;
    }
    
    footer .footer-bottom p:first-of-type {
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 2.78vw;
        line-height: 6.94vw;
        width: 60.0vw;
        margin: 0 auto;
        border-bottom: 0.28vw solid #848484;
        position: unset;
    }
    
    footer .footer-bottom p:first-of-type span {
        position: absolute;
        bottom: 5.56vw;
        width: 100%;
        left: 0;
    }
    
    footer .footer-bottom p.grid8 {
        font-size: 2.78vw;
        text-align: center;
        line-height: 130%;
        width: 100%;
        padding: 0 8.33vw;
        box-sizing: border-box;
        height: auto;
    }
    
    footer .footer-bottom p:first-of-type img {
        display: none;
    }
    
    .footer-bottom a:last-of-type {
        padding-bottom: 2.78vw;
        margin-bottom: 0;
        text-decoration: underline;
    }
    
    .footer-bottom a:first-of-type {
        padding-top: 2.78vw;
        margin-bottom: 0;
        text-decoration: underline;
    }
    
    .social-icons {
        display: flex;
        align-items: center;
        gap: 5vw;
        margin-top: 1.67vw;
    
    }
}
