body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: igra-sans;
}

html {
    background-color: #33333333;
}

body {
    background-color:white;
    max-width: 1200px;
}

section {
    background-color: white;
}

@font-face {
    font-family: igra-sans;
    src: url("fonts/IgraSans.otf");
}

section#main-page #logo {
    width: 100px;
    position: relative;
    border-top: 1px solid #848484;
    min-width: 100px;

}

section#main-page #logo img {
    margin-top: 11px;
}

section#main-page  .right-line {
    width: 100px;
    height: 28px;
    position: absolute;
    border-right: 1px solid #848484;;

}

section.full-section {
    width: 100%;
    height: 100%;
}

section#attractive-direction {
    background: #393939;
}

section#quote-with-four-men {
    background: linear-gradient(236.63deg, rgba(0, 0, 0, 0) 41.75%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: auto;
    position: relative;
}

section#quote-with-four-men img {
    display: block;
    width: 100%;
    height: auto;
}

section#quote-with-four-men div.quote {
    position: absolute;
    top: 0;
    left: 0;
    align-content: center;
    display: flex;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 33px;
    background: linear-gradient(236.63deg, rgba(0, 0, 0, 0) 41.75%, rgba(0, 0, 0, 0.7) 100%);
    background-blend-mode: multiply;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

section#quote-with-four-men div.quote .left {
    text-align: left;
    padding-left: 11%;
}

section#quote-with-four-men div.quote .right {
    text-align: right;
    padding-right: 11%;
}

section#quote-with-four-men div.quote-sign {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 80px;
    padding-bottom: 80px;
    color: white;
}

section#main-page {
    background-image: url("images/first_section_bg.png");
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#main-page header {
    width: 100%;
    height: 76px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: linear-gradient(360deg, rgba(57, 57, 57, 0) 0%, #393939 100%);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    padding-top: 18px;

}

.main-nav {
    width: 100%;

}

.main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    border-top: 1px solid #848484;

}

.main-nav > ul > div {
    display: flex;
}

.main-nav > ul > li {
    height: 19px;
    line-height: 12px;
    padding-left: 20px;

}

.main-nav > ul > div > li {
    margin: 0 5px;
    height: 19px;
    line-height: 12px;

}

.main-nav a {
    text-decoration: none;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 113.2%;
    text-transform: uppercase;
    color: #FFFFFF;

}

.main-nav a.highlight {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 10px;

}

.language-selector img {
    height: 24px;
}

.menu-icon {
    display: none;
}

.menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
}

div#greetings {
    padding-top: 76px;
    width: 100%;
    height: 100%;
    color: white;
}

div#greetings .yellow-link {
    background: #FCBD21;
    border-radius: 50px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    text-transform: uppercase;
    color: #393939;
    width: 200px;
    display: flex;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    margin-left: 80px;
    margin-top: 30px;

}

div#special-offer-slider > span {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

div#special-offer-slider > span:before {
    content: url("images/passport-only-mark.svg");
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

div#text {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-top: 95px;
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;

}

div#location_tag {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 11px;
}

div#location_tag::before {
    content: url("images/location-mark.svg");
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

div#special-offer-slider {
    margin-top: 15px;
    padding: 0 80px;

}

div#special-offer-slider > p {
    margin: 0;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 7px;

}

div#special-offer-slider div.stats {
    display: flex;

}

div#special-offer-slider div.stats .rent-stats {
    height: 70px;
    margin-right: 10px;
    background-image: url("images/rent-stats-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0 15px;

}

div#special-offer-slider div.stats .sale-stats {
    height: 70px;
    margin-right: 10px;
    background-image: url("images/sale-stats-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0 15px;

}

div#special-offer-slider div.stats .digits {
    margin: 0;
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #FCBD21;
    margin-top: 15px;

}

div#special-offer-slider div.stats .digits-description {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
    position: relative;
    bottom: 7px;

}



span#for-life::before {
    content: url("images/for_life_before.png");
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 11px;
}

section#company-owner {
    display: flex;
}

section#company-owner div#i-know-everything {
    padding-top: 80px;
    padding-left: 80px;
    height: auto;
    position: relative;
}

section#company-owner div#picture {
    position: relative;
    width: auto;    height: auto;

}

section#company-owner #owner-bage {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1%;
    padding-bottom: 1%;

}

#investment-info {
    padding-top: 80px;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

section#company-owner .quote-sign {
    position: absolute;
    top: 0;
    padding-left: 8px;
    color: white;
    font-size: 0.78em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;

}

#best-points {
    background-color: #fdfdfd;
    padding: 80px;
}
  
#best-points .container {
    max-width: 1200px;
    margin: 0 auto;
}
  
#best-points h2 {
    font-size: 36px;
    text-align: left;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
  
#best-points h2 img {
    margin-right: 15px;
}
  
#best-points .grid {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    gap: 40px;
}

#best-points .grid-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
}
  
  /* Пример распределения долей для элементов */
  #best-points .item1 {
    grid-column: span 7;
    grid-row: span 1;

}
  
  #best-points .item2 {
    grid-column: span 8;
    grid-row: span 1;

}
  
  #best-points .item3 {
    grid-column: span 7;
    grid-row: span 1;

}
  
  #best-points .item4 {
    grid-column: span 9;
    grid-row: span 1;

}
  
  #best-points .item5 {
    grid-column: span 6; /* 6 долей */
    grid-row: span 1;
  }
  
  #best-points .item6 {
    grid-column: span 7;
    grid-row: span 1;

}
  
  #best-points .item7 {
    grid-column: span 7;
    grid-row: span 1;

}
  
  #best-points .item8 {
    grid-column: span 8; /* 8 долей */
    grid-row: span 1;
  }
  
  #best-points .cta {
    grid-column: span 7;
    grid-row: span 1;
    background-color: #27ABC1;
    background-image: url("images/rectangle-palms.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
  
  #best-points .grid-item.cta p {
    margin-bottom: 10px;
    font-family: igra-sans;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    position: relative;
    padding-top: 18px;

}
  
  #best-points .cta button {
    color: #fff;
    cursor: pointer;
    background-color: #27ABC1;
    width: 45%;
    height: 26px;
    border-radius: 14px;
    border: 1px solid white;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-left: 13px;

}
  
  #best-points .cta button:hover {
    background-color: #138496;
  }

  .cta p::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
}

.cta button::after {
    content: '→';
    font-size: 18px;
    margin-left: 10px;
    color: white;
    font-weight: 300;
    width: auto;

}

  #best-points .grid-item h3:first-of-type {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #393939;
    margin: 0;

}

#best-points .grid-item h3:nth-of-type(2) {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'liga' off;
    color: #27ABC1;
    margin: 0;
    padding-top: 10px;

}

#best-points .grid-item p {
    font-family: 'Commissioner';
    font-size: 12px;
    line-height: 130%;
    color: #393939;
    margin: 0;

}

#best-points .container > h2 {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #393939;
    margin: 0;
}

#best-points .container > h2:nth-of-type(2)::before {
    content: url("images/rectangle-points-fron-denis.png");
    display: inline-block;
    position: relative;
    top: 3px;
    height: 36px;
    margin-right: 11px;
}

#best-points .container > h2:nth-of-type(2) {
    margin-bottom: 25px;
}

#investment-info {

}

#investment-info .container {
    max-width: 1200px;
    margin: 0 auto;
}

#investment-info .text-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

#investment-info .details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  text-align: left;
}

#investment-info > p {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #393939;
}

#investment-info .detail-item h3 {
  font-size: 16px;
  color: #28a745;
  margin: 0;
  font-weight: 400;
}

#investment-info .detail-item p {
    color: #333;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
}

#investments-base img {
    display: block;
    width: 100%;
    height: auto;
}

#investments-base {
    background: linear-gradient(286.18deg, rgba(0, 0, 0, 0) 44.31%, rgba(0, 0, 0, 0.4) 80.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-blend-mode: multiply, multiply, normal;
    position: relative;
    height: auto;
}

#investments-base .quote {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 80px;
    padding-top: 80px;

}

#investments-base .quote p.title {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#investments-base .quote p.description {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;

}

/* форма с подборкой */

.form-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-text {
    padding-top: 20px;
    padding-left: 20px;

}

.form-text p {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
}

.form-inputs {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 20px 20px 0 20px;

}

.form-input, .form-select {
    padding: 10px 20px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #FCBD21;
    border-radius: 30px;
    height: 26px;
    background-color: #0000;
    width: 19%;

}

.form-actions {
    margin-left: 10px;
    width: 175px;

}

.form-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: #959595;
    border-radius: 50px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;

}

.form-button::after {
    content: '→';
    color: white;
    font-weight: 300;
    margin-left: 5px;
    font-size: 18px;

}

.form-agreement {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 120%;
    text-align: center;
    color: #959595;
    display: flex;
    margin-top: 2px;
}

.form-agreement label {
    margin-top: 3px;
}

.form-agreement input {
    /* margin-right: 5px; */
    background-color: #0000;
    border: 1px solid yellow;
    appearance: initial;
    width: 10px;
    min-width: 10px;
    height: 10px;
    min-height: 10px;

}

/* форма с подборкой */

#get-properties {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    margin-bottom: 80px;
    margin-left: 80px;
    height: 140px;
    background: #393939;
    opacity: 0.9;
    border-radius: 20px;
    width: 86%;
    display: flex;
    flex-direction: column;

}

/* Основные стили для секции с ID prices-and-benefits */
#prices-and-benefits .header-section {
    padding: 80px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;

}

#prices-and-benefits .header-content h1 {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #393939;
    margin: 0;

}

#prices-and-benefits .header-content p {
    margin: 0;
    margin-left: 45px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    color: #393939;

}

#prices-and-benefits .quiz-section p {
    width: auto;
    margin: 20px 20px 0 20px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #393939;

}

#prices-and-benefits .quiz-section .quiz-progress {

}

#prices-and-benefits .quiz-section .quiz-question {

}

#prices-and-benefits .quiz-section {
    margin-top: 20px;
    background-image: url("images/palms-investments.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: #FFFFFF;
    box-shadow: 5px 6px 13px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

#prices-and-benefits .quiz-progress {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    justify-content: revert;

}

#prices-and-benefits .quiz-progress span {
    margin-right: 10px;
    background: #D7D9D8;
    border-radius: 30px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #393939;
    width: 40px;
    margin: 20px 20px 0 20px;

}

#prices-and-benefits .progress-bar {
    height: 5px;
    background-color: #CAE7D4;;
    border-radius: 5px;
    overflow: hidden;
    width: calc(100% - 40px);
    margin-top: 20px;
    position: relative;
    align-self: center;

}

#prices-and-benefits .progress {
    width: 20%;
    height: 100%;
    background-color: #4caf50;
    margin: 0;
    padding: 0;

}

#prices-and-benefits .quiz-question p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

#prices-and-benefits .quiz-question p.green-question {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'liga' off;
    color: #299948;
    margin: 20px 20px 0 20px;

}

#prices-and-benefits .quiz-options {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;

}

#prices-and-benefits .quiz-option {
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #4caf50;
    cursor: pointer;
    color: #4caf50;
    text-align: center;
    width: auto;
    min-width: 70px;
    height: 26px;
    border-radius: 50px;
    line-height: 100%;
    padding: 0;
    color: black;

}

#prices-and-benefits .next-button {
    background-color: #ccc;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    height: 26px;
    padding: 0;
    width: auto;
    min-width: 100px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 100%;
    color: #FFFFFF;

}

#prices-and-benefits .content-section {
    display: flex;
    gap: 20px;
    padding: 80px;
    background-color: #fff;
    border-radius: 15px;

}

#prices-and-benefits .image-content img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}

#prices-and-benefits .text-content h2 {
    margin: 0;
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #393939;

}

#prices-and-benefits .text-content h2:nth-of-type(2)::before {
    content: url("images/price-garant.png");
    display: inline-block;
    position: relative;
    top: 3px;
    height: 36px;
    margin-right: 11px;
}

#prices-and-benefits .text-content p {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #393939;
    margin: 0;
    margin-top: 10px;

}

#prices-and-benefits .fact-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#prices-and-benefits .fact-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#prices-and-benefits .fact-number {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

#prices-and-benefits .fact-short {
    font-size: 18px;
    color: #008080;
    font-weight: bold;
    margin-bottom: 5px;
}

#prices-and-benefits .fact-long {
    font-size: 16px;
    color: #666;
}


#prices-and-benefits .fact-list {
    margin-top: 20px;
}

#prices-and-benefits .fact-item {
    margin-bottom: 15px;
}

#prices-and-benefits .fact-item p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

#prices-and-benefits .fact-item p.number {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #393939;
}

#prices-and-benefits .fact-item p.little-title {
    margin-top: 10px;
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #27ABC1;
}

#prices-and-benefits .fact-item p.little-description {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #393939;
}

#prices-and-benefits .fact-item strong {
    font-size: 18px;
    color: #008080;
}

#prices-and-benefits .header-content {
    display: flex;
    align-items: self-end;
}

#prices-and-benefits .text-content {
    margin-left: 40px;
    margin-top: 11px;
}

#check-objects .header-section {
    padding: 80px;
    background-color: #fff;
    /* border-radius: 15px; */
    /* margin-bottom: 20px; */
    background: url("images/check-objects-bg.png");
    width: auto;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#check-objects .header-content {
    display: flex;
    align-items: end;

}

#check-objects .header-content h3 {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: white;
    margin: 0;
    width: auto;

}

#check-objects .header-content p {
    margin: 0;
    margin-left: 45px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    color: white;
    bottom: 10px;
    position: relative;

}

#check-objects .quiz-section p {
    width: auto;
    margin: 20px 20px 0 20px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: white;

}

#check-objects .quiz-section {
    margin-top: 20px;
    background-image: url("images/palms-investments.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: #FFFFFF;
    box-shadow: 5px 6px 13px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: #393939;
    opacity: 0.9;
    box-shadow: 5px 6px 13px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

}

#check-objects .quiz-progress {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    justify-content: revert;
}

#check-objects .quiz-progress span {
    margin-right: 10px;
    background: #D7D9D8;
    border-radius: 30px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #393939;
    width: 40px;
    margin: 20px 20px 0 20px;
}

#check-objects .progress-bar {
    height: 5px;
    overflow: hidden;
    width: calc(100% - 40px);
    margin-top: 20px;
    position: relative;
    align-self: center;
    border-radius: 20px;
    background-color: rgba(252, 189, 33, 0.3);

}

#check-objects .progress {
    width: 33%;
    height: 100%;
    background-color: #4caf50;
    margin: 0;
    padding: 0;
    background: #FCBD21;
    border-radius: 20px;

}

#check-objects .quiz-question p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

#check-objects .quiz-question p.green-question {
    margin: 20px 20px 0 20px;
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'liga' off;
    color: #FCBD21;

}

#check-objects .quiz-options {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

#check-objects .quiz-option {
    background-color: #0000;
    border: 1px solid #FCBD21;
    cursor: pointer;
    text-align: center;
    width: auto;
    min-width: 70px;
    height: 26px;
    border-radius: 50px;
    line-height: 100%;
    padding: 0;
    color: #FCBD21;

}

#check-objects .next-button {
    background-color: #ccc;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    height: 26px;
    padding: 0;
    width: auto;
    min-width: 100px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 100%;
    color: #393939;
}

section#additional-company-info {
    background-color: #393939;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 50px;

}

section#additional-company-info > h2 {
    font-family: igra-sans;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
    font-weight: 400;

}

section#additional-company-info > h2::before {
    content: url("images/black-badge.png");
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 11px;
}

section#additional-company-info div.awards-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section#additional-company-info div.award-card {
    width: 300px;
}

section#additional-company-info div.award-card.big {
    width: 360px;
    background-color: #00000066;
    border-radius: 10px;
    padding: 20px;

}

section#additional-company-info div.award-card p {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'liga' off;
    color: white;
}

section#additional-company-info div.award-card.big p {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'liga' off;
    color: #FCBD21;
    margin: 0;
    margin-bottom: 10px;
}

section#additional-company-info div.conference-logos {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

section#additional-company-info div.conference-logos img {
    max-height: 34px;
    height: auto;
    width: auto;
}

section#additional-company-info div.award-card p span {
    color: #FCBD21;
}

section#additional-company-info > h3 {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
}

section#additional-company-info div.countries-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

section#additional-company-info div.country-card {
    width: 260px;
    padding: 20px;
    height: 90px;
    background-color: white;
    box-shadow: 5px 6px 13px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

section#additional-company-info div.country-card.big {
    width: 320px;
}

section#additional-company-info div.country-card div.header {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'liga' off;
    color: #393939;
    display: flex;
    justify-content: space-between;

}

section#additional-company-info div.country-card div.header div.agent-flags img {
    width: 17px;
    height: 17px;
    border-radius: 50%;

}

section#additional-company-info div.country-card div.header > h4 {
    margin: 0;
}

section#additional-company-info div.country-card .agent-info {
    display: flex;
    align-items: self-end;

}

section#additional-company-info div.country-card .agent-info img {
    width: 64px;
    height: 64px;

}

section#additional-company-info div.country-card .agent-info .agent-details {
    margin-left: 15px;
}

section#additional-company-info div.country-card .agent-info .agent-details p.agent-name {
    margin: 0;
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'liga' off;
    color: #299948;
}

section#additional-company-info div.country-card .agent-info .agent-details p.agent-position {
    margin: 0;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;/
    color: #393939;
}

section#tenth-section {
    background-color: #393939;

}

section#tenth-section div.header {
    display: flex;
    align-items: end;
    padding: 50px 80px;
    padding-bottom: 20px;

}

p#main-thought {
    margin: 0;
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
    min-width: 68%;

}

p#main-thought span {
    
}

p#main-thought-comment {
    margin: 0;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF;

}

section#tenth-section div.content {
    background: url("images/10-section-bg.png");
    height: 418px;
    width: auto;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    flex-direction: column;

}

section#tenth-section div.content .block-link {
    height: 114px;
    margin-right: 80px;
    width: 180px;
    border-radius: 15px;
    padding: 20px;

}

section#tenth-section div.content .block-link:nth-of-type(2) {
    margin-bottom: 80px;
    margin-top: 30px;
    background: #27ABC1;
}

section#tenth-section div.content .block-link:first-of-type {
    margin-top: 80px;
    background-color: #393939;
}


section#tenth-section div.content .block-link p {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 16px;

}

section#tenth-section div.content .block-link span {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
    width: 90px;
    height: 26px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    line-height: 26px;
    text-align: center;

}

section#tenth-section div.content .block-link span:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 4px;
    margin-left: 10px;
    background-image: url("images/button-right-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

section#our-partners {
    display: flex;
    flex-direction: column;
    padding: 0 80px;

}

section#our-partners h3 {
    margin: 0;
    margin-top: 100px;
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #393939;

}

section#our-partners p {
    margin-top: 10px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #393939;

}

section#our-partners #partners-carousel {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

}

section#our-partners #partners-carousel img {
    width: 134px;
    height: auto;
}

section#news {
    padding: 80px;

}

section#news div.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;

}

section#news div.header p {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #393939;
    margin: 0;
    

}

section#news div.header > p > span::before {
    content: url("images/news-title-badge.png");
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 11px;
    max-width: 97px;
    max-height: 27px;
    width: auto;
    height: auto;

}

section#news div.header > span {
    border: 1px solid #299948;
    border-radius: 50px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    text-align: center;
    text-transform: uppercase;
    color: #393939;
    display: inline-block;
    width: 132px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;

}
section#news div.header > span:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 4px;
    margin-left: 10px;
    background-image: url("images/black-right-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-1px);
}

section#news div#news-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

section#news div#news-list div.news-block-link {
    display: flex;
    flex-direction: column;
    height: 373px;
    width: 245px;
    background: #FFFFFF;
    box-shadow: 5px 6px 13px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

}

section#news div#news-list div.news-block-link .image-wrapper {
    width: 100%;
    height: auto;
}

section#news div#news-list div.news-block-link .image-wrapper img {
    width: 100%;
    height: auto;
}

section#news div#news-list .news-date {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #D7D9D8;
    margin-left: 20px;
    display: block;
    margin-top: 15px;
}

section#news div#news-list .news-title {
    font-family: igra-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'liga' off;
    color: #393939;
    margin: 0;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

section#news div#news-list .news-description {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #393939;
    padding-bottom: 20px;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4px;
}


@media (max-width: 768px) {
    #investment-info .details-grid {
        grid-template-columns: 1fr; /* Одна колонка на маленьких экранах */
        grid-template-rows: auto;
    }
}


